backend/n8n-snapshots/13 - listeaza absentele.json
{
  "name": "13 - listeaza absentele",
  "nodes": [
    {
      "parameters": {
        "path": "be5911e1-28ad-4ab4-8ecd-a1fa65b6a0fb",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "ff0ae8a4-05f0-4e9e-bb2b-a9ab8192552a",
      "name": "cere absentele",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -384,
        -128
      ],
      "webhookId": "be5911e1-28ad-4ab4-8ecd-a1fa65b6a0fb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM Ausencias\nWHERE\n(\n  \"{{ $json.query.codigo || '' }}\" = ''\n  OR CODIGO = TRIM(\"{{ $json.query.codigo || '' }}\")\n)\nAND\n(\n  \"{{ $json.query.MES || '' }}\" = ''\n  OR DATE_FORMAT(FECHA, '%Y-%m') = TRIM(\"{{ $json.query.MES || '' }}\")\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -176,
        -128
      ],
      "id": "857bb772-33a8-4642-8a1c-3985c118136f",
      "name": "extrage absente",
      "credentials": {
        "mySql": {
          "id": "47tEcFVMWEV6ljvQ",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        240,
        -128
      ],
      "id": "f8c94d83-3f89-4d98-a7fd-df3c8925a656",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const tipo = item.json.TIPO || '';\n  const fecha = item.json.FECHA || '';\n  const duracion = item.json.DURACION;\n\n  // Tipuri care se calculează în ZILE\n  const tipuriZile = [\"Vacaciones\", \"Asunto Propio\", \"Permiso\", \"Baja\"];\n  const estePeZile = tipuriZile.some(t => tipo.toLowerCase().includes(t.toLowerCase()));\n\n  // FECHA: interval sau simplă\n  const partes = fecha.split(' - ').map(p => p.trim());\n  const inicio = partes[0] || null;\n  const fin = partes[1] || partes[0] || null;\n\n  item.json.fecha_inicio = inicio;\n  item.json.fecha_fin = fin;\n\n  // 1️⃣ TIPURI PE ZILE\n  if (estePeZile) {\n    if (duracion !== null && duracion !== undefined) {\n      item.json.dias_aprobados = Number(duracion);\n    } else if (inicio && fin) {\n      const dInicio = new Date(inicio);\n      const dFin = new Date(fin);\n      const diffMs = dFin.getTime() - dInicio.getTime();\n      const diffDias = Math.round(diffMs / (1000 * 60 * 60 * 24)) + 1;\n      item.json.dias_aprobados = diffDias;\n    } else {\n      item.json.dias_aprobados = null;\n    }\n  }\n\n  // 2️⃣ TIPURI PE ORE (Entrada/Salida Centro)\n  else {\n    if (duracion !== null && duracion !== undefined && duracion !== '') {\n      // COPIEM EXACT DURACION ul din DB\n      item.json.horas_aprobadas = duracion;\n    } else {\n      item.json.horas_aprobadas = null;\n    }\n\n    // nu calculăm zile\n    item.json.dias_aprobados = null;\n  }\n\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        -128
      ],
      "id": "c290934a-99ce-4abc-9458-350bf022e72f",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "cere absentele": {
      "main": [
        [
          {
            "node": "extrage absente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extrage absente": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "rL4oA24ur052e543"
  },
  "versionId": "8166fa81-4f0b-4289-8995-fa663454d0e8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "32836068b16891b53f6153f2e819808ea28fcbd1c151a3d5c9248593b7aebef9"
  },
  "id": "IUCqbkT3ztn0ScKh",
  "tags": []
}