backend/n8n-snapshots/5 - TablaHorasTranajadas.json
{
  "name": "5 - TablaHorasTranajadas",
  "nodes": [
    {
      "parameters": {
        "path": "b8a9d8ae-2485-4ba1-bd9b-108535b1a76b",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -160,
        16
      ],
      "id": "0966e109-3f1c-4180-a68a-de6d05a28536",
      "name": "Webhook",
      "webhookId": "b8a9d8ae-2485-4ba1-bd9b-108535b1a76b"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        832,
        -192
      ],
      "id": "33dc7e0a-2bb3-4d49-84ac-5607659ce710",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        64,
        0
      ],
      "id": "32f0cf8b-f434-49c5-adc0-c101d608494e",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "// ===== utils =====\nfunction toNum(x, def=0){\n  if (x === null || x === undefined) return def;\n  const n = typeof x === 'number' ? x : parseFloat(String(x).replace(',', '.'));\n  return Number.isFinite(n) ? n : def;\n}\nfunction todayMadrid(){\n  const fmt = new Intl.DateTimeFormat('ro-RO', { timeZone: 'Europe/Madrid', year:'numeric', month:'2-digit', day:'2-digit' });\n  const p = fmt.formatToParts(new Date()).reduce((a,p)=> (p.type!=='literal'&&(a[p.type]=p.value),a),{});\n  const y = +p.year, m = +p.month, d = +p.day;\n  return { y, m, d, ymd: `${y}-${String(m).padStart(2,'0')}-${String(d).padStart(2,'0')}` };\n}\nfunction pickStr(...vals){\n  for (const v of vals){\n    if (v != null && v !== undefined){\n      const s = String(v).trim();\n      if (s !== '') return s;\n    }\n  }\n  return '';\n}\nfunction getFecha(z){\n  const f = z.fecha || z.data || z.Fecha || '';\n  return (typeof f === 'string') ? f.slice(0,10) : '';\n}\nfunction inferYearFromDays(days){\n  for (const z of days){\n    const f = getFecha(z);\n    if (/^\\d{4}-\\d{2}-\\d{2}$/.test(f)) return f.slice(0,4);\n  }\n  return '';\n}\nfunction safeParseJSON(s, fallback){\n  try { return JSON.parse(s); } catch { return fallback; }\n}\nfunction inferYearFromResumen(resumen){\n  // resumen poate fi string sau obiect; așteptăm: [{ym:\"YYYY-MM\", ...}, ...]\n  const arr = Array.isArray(resumen) ? resumen : safeParseJSON(resumen || '[]', []);\n  for (const r of arr){\n    const ym = (r && r.ym) ? String(r.ym) : '';\n    if (/^\\d{4}-\\d{2}$/.test(ym)) return ym.slice(0,4);\n  }\n  return '';\n}\n\nfunction getParamsAnual(zileAll, empResumen){\n  const cur = $json || {};\n  const q1  = (cur.query && typeof cur.query==='object') ? cur.query : {};\n  let tipo  = pickStr(q1.tipo, cur.tipo).toLowerCase();\n  let ano   = pickStr(q1.ano,  cur.ano);\n\n  // încearcă și din alte ieșiri (Switch etc.)\n  const CANDIDATE_SWITCH_NAMES = ['Switch','Switch 1','Switch1','Switch - Modo','Ruteo','Branch','Modo'];\n  try {\n    for (const name of CANDIDATE_SWITCH_NAMES){\n      for (let outIdx=0; outIdx<8; outIdx++){\n        const it = $items(name, 0, outIdx);\n        if (Array.isArray(it) && it.length){\n          const js = it[0].json || {};\n          const q  = (js.query && typeof js.query==='object') ? js.query : {};\n          tipo = pickStr(tipo, q.tipo, js.tipo).toLowerCase();\n          ano  = pickStr(ano,  q.ano,  js.ano);\n          if (tipo || ano) break;\n        }\n      }\n      if (tipo || ano) break;\n    }\n  } catch {}\n\n  // fallback: deduce din zile; dacă nu există zile (nu mai vin din SQL), deduce din resumen_mensual\n  if (!ano) ano = inferYearFromDays(zileAll) || inferYearFromResumen(empResumen);\n\n  // ultim fallback: anul curent Madrid\n  if (!ano) ano = String(todayMadrid().y);\n\n  if (!tipo) tipo = ano ? 'anual' : 'mensual';\n  return { tipo, ano };\n}\n\n// ===== MAIN (ANUAL) =====\nconst out = [];\nconst today = todayMadrid();\nconst EPS = 0.25;\n\nfor (const item of items){\n  const emp = { ...item.json };\n\n  // detalii din SQL (poate lipsi acum)\n  let zileAll = [];\n  try { zileAll = JSON.parse(emp.detalii_zilnice || '[]'); } catch { zileAll = []; }\n\n  // parsează și resumen_mensual pentru deducerea anului\n  const resumen = emp.resumen_mensual ? safeParseJSON(emp.resumen_mensual, emp.resumen_mensual) : [];\n\n  const { tipo, ano } = getParamsAnual(zileAll, resumen);\n  const selectedYear = ano;\n  const isCurrentYear = selectedYear && selectedYear === String(today.y);\n\n  // dacă nu avem zile (cazul nou), nu mai tăiem; folosim agregatele anuale din SQL\n  const zileShown = (isCurrentYear && zileAll.length)\n    ? zileAll.filter(z => { const f = getFecha(z); return f && f <= today.ymd; })\n    : zileAll;\n\n  // --- agregate ANUALE din SQL ---\n  const planAnSQL = toNum(emp.horas_plan_anual, 0);\n  const planAnByDays = zileAll.reduce((a,z)=> a + Number(z.plan ?? 0), 0);\n  const totalPlanAnual = planAnSQL > 0 ? planAnSQL : planAnByDays;\n\n  const totalTrabAnual = toNum(\n    emp.horas_trabajadas_anual,\n    zileAll.reduce((a,z)=> a + Number(z.fichado ?? 0), 0)\n  );\n\n  const contratoAnual = toNum(emp.horas_contrato_anual, 0);\n  const permitidasAnual =\n    toNum(emp.horas_anuales_permitidas,\n      toNum(emp.horas_permitidas_interval,\n        toNum(emp.horas_mensuales_permitidas, 0) * 12));\n\n  // plan până azi (dacă anul curent + avem zile; altfel folosim total plan)\n  const planHastaHoy = (isCurrentYear && zileShown.length)\n    ? zileShown.reduce((a,z)=> a + Number(z.plan ?? 0), 0)\n    : totalPlanAnual;\n\n  // delte & statusuri\n  const diffPlanHastaHoy   = totalTrabAnual - planHastaHoy;\n  const diffPlanIntervalo  = totalTrabAnual - totalPlanAnual;\n  const diffPermitidasAn   = totalTrabAnual - permitidasAnual;\n\n  const estado_plan_hasta  = isCurrentYear\n    ? (diffPlanHastaHoy > EPS ? 'SOBREPASADO' : 'OK')\n    : 'N/A';\n\n  const estado_plan        = (diffPlanIntervalo > EPS ? 'SOBREPASADO' : 'OK');\n  const estado_permitidas  = (permitidasAnual > 0 && diffPermitidasAn > EPS) ? 'EXCESO' : 'OK';\n\n  // excedente:\n  //  - dacă avem zile, calculează din zile;\n  //  - altfel, folosește agregatele anuale (fallback sigur).\n  let exced = 0;\n  if (zileAll.length){\n    const baseDays = (isCurrentYear && zileShown.length) ? zileShown : zileAll;\n    exced = baseDays.reduce((a,z)=>{\n      const plan = Number(z.plan ?? 0), trab = Number(z.fichado ?? 0);\n      return a + Math.max(0, trab - plan);\n    }, 0);\n  } else {\n    exced = Math.max(0, totalTrabAnual - totalPlanAnual);\n  }\n\n  // clasificare (ordin/complementar/extra) anual – păstrăm logica existentă\n  const esPart = (emp.tipo_contrato || '').toLowerCase().includes('parc');\n\n  let totalCompl=0, totalExtra=0;\n  if (contratoAnual > 0){\n    if (esPart){\n      const maxCompl = Math.max(0, contratoAnual - totalPlanAnual);\n      totalCompl = Math.min(exced, maxCompl);\n      totalExtra = Math.max(0, exced - maxCompl);\n    } else {\n      totalCompl = 0;\n      totalExtra = Math.max(0, totalTrabAnual - contratoAnual);\n    }\n  } else {\n    if (permitidasAnual > 0){\n      totalCompl = 0;\n      totalExtra = Math.max(0, totalTrabAnual - permitidasAnual);\n    } else {\n      totalCompl = 0;\n      totalExtra = Math.max(0, exced);\n    }\n  }\n  const totalOrdin = totalTrabAnual - totalCompl - totalExtra;\n\n  // ===== ieșire curată (ANUAL) =====\n  const res = {\n    ...emp,\n    modo: 'anual',\n    ano_selectado: selectedYear,\n\n    total_ordinarias: +totalOrdin.toFixed(2),\n    total_complementarias: +totalCompl.toFixed(2),\n    total_extraordinarias: +totalExtra.toFixed(2),\n\n    total_trabajadas: +totalTrabAnual.toFixed(2),\n    total_trabajadas_anual: +totalTrabAnual.toFixed(2),\n\n    total_plan: +totalPlanAnual.toFixed(2),\n    total_plan_anual: +totalPlanAnual.toFixed(2),\n\n    total_permitidas: +permitidasAnual.toFixed(2),\n    total_permitidas_anual: +permitidasAnual.toFixed(2),\n\n    total_contrato_anual: +contratoAnual.toFixed(2),\n\n    plan_hasta_hoy: +planHastaHoy.toFixed(2),\n    diff_plan_hasta_hoy: +diffPlanHastaHoy.toFixed(2),\n    diff_plan_intervalo: +diffPlanIntervalo.toFixed(2),\n    diff_permitidas: +diffPermitidasAn.toFixed(2),\n\n    estado_plan_hasta_hoy: estado_plan_hasta,\n    estado_plan: estado_plan,\n    estado_permitidas: estado_permitidas\n  };\n\n  // normalizează tipuri pentru lunile contorizate\n  if (res.meses_con_cuadrante != null) res.meses_con_cuadrante = toNum(res.meses_con_cuadrante, 0);\n  if (res.meses_con_horario   != null) res.meses_con_horario   = toNum(res.meses_con_horario, 0);\n  if (res.meses_mixtos        != null) res.meses_mixtos        = toNum(res.meses_mixtos, 0);\n\n  // nu mai forțăm detalii_zilnice (SQL nu le mai trimite); dacă există, le lăsăm cum sunt\n  // res.detalii_zilnice rămâne neschimbat\n\n  out.push({ json: res });\n}\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        16
      ],
      "id": "ddaa37a4-ae48-4f72-8c74-ee9883be7d34",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        976,
        16
      ],
      "id": "fa1bd640-fac7-4b81-bbca-55087848363f",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "jsCode": "function toNum(x, def=0){\n  if (x === null || x === undefined) return def;\n  const n = typeof x === 'number' ? x : parseFloat(String(x).replace(',', '.'));\n  return isNaN(n) ? def : n;\n}\n\n// ===== helpers dată (Europe/Madrid) =====\nfunction todayMadridParts(){\n  const fmt = new Intl.DateTimeFormat('ro-RO', { timeZone: 'Europe/Madrid', year:'numeric', month:'2-digit', day:'2-digit' });\n  const parts = fmt.formatToParts(new Date()).reduce((a,p)=>{ if(p.type!=='literal') a[p.type]=p.value; return a; },{});\n  return { y:+parts.year, m:+parts.month, d:+parts.day };\n}\nconst yyyymm = (y,m)=>`${y}-${String(m).padStart(2,'0')}`;\n\nfunction getLunaFromSwitch(){\n  try {\n    const sw = $items('Switch', 0, 0)?.[0]?.json || {};\n    return sw.lunaselectata || sw.query?.lunaselectata || sw.params?.query?.lunaselectata || sw.body?.lunaselectata || '';\n  } catch { return ''; }\n}\n\nfunction inferYYYYMM(zile){\n  for (const z of zile){\n    const ds = z.data || z.fecha;\n    if (typeof ds === 'string' && /^\\d{4}-\\d{2}-\\d{2}$/.test(ds)) return ds.slice(0,7);\n  }\n  const t = todayMadridParts(); \n  return yyyymm(t.y, t.m);\n}\n\nfunction dayNumberOfZ(z, yyyymm){\n  if (z.zi != null)  return Number(z.zi);\n  if (z.dia != null) return Number(z.dia);\n  const ds = z.data || z.fecha;\n  if (typeof ds === 'string' && /^\\d{4}-\\d{2}-\\d{2}$/.test(ds) && ds.startsWith(yyyymm)){\n    return Number(ds.slice(8,10));\n  }\n  return 31;\n}\n\n// ===== MAIN =====\nconst out = [];\nconst today = todayMadridParts();\nconst currentYYYYMM = yyyymm(today.y, today.m);\nconst lunaDinSwitch = (getLunaFromSwitch() || '').toString().slice(0,7);\n\n// toleranță pentru statusuri\nconst EPS = 0.25;\n\nfor (const item of items) {\n  const emp = { ...item.json };\n\n  // toate zilele (pentru plan lunar complet)\n  let zileAll = [];\n  try { zileAll = JSON.parse(emp.detalii_zilnice || \"[]\"); } catch { zileAll = []; }\n\n  // luna selectată\n  const lunaSelectata = /^\\d{4}-\\d{2}$/.test(lunaDinSwitch) ? lunaDinSwitch : inferYYYYMM(zileAll);\n\n  // zile afișate (tăiem la ziua curentă DOAR dacă e luna curentă)\n  let zileShown = zileAll;\n  if (lunaSelectata === currentYYYYMM) {\n    const cutoff = today.d;\n    zileShown = zileAll.filter(z => dayNumberOfZ(z, lunaSelectata) <= cutoff);\n  }\n\n  // --- PLAN COMPLET LUNAR ---\n  const planFromZileAll = zileAll.reduce((a,z)=> a + Number(z.plan ?? 0), 0);\n  const planCuadrante   = toNum(emp.horas_cuadrante_mes, planFromZileAll); // dacă există, are prioritate\n  const totalPlanFull   = planCuadrante || planFromZileAll;\n\n  // --- CALC pe zilele afișate (doar până azi) ---\n  let totalTrab = 0;\n  const daily = zileShown.map(z => {\n    const plan = Number(z.plan ?? 0);\n    const trab = Number(z.fichado ?? 0);\n\n    totalTrab += trab;\n\n    let ord = 0, exc = 0;\n    if (trab <= plan) { ord = trab; } else { ord = plan; exc = trab - plan; }\n    return { ...z, ordinarias: +ord.toFixed(2), excedente: +exc.toFixed(2) };\n  });\n\n  const exced      = daily.reduce((a, d) => a + d.excedente, 0); // surplus peste plan pe zile\n  const contrato   = toNum(emp.horas_contrato_mes, 0);\n  const permitidas = toNum(emp.horas_mensuales_permitidas, 0);\n  const esPart     = (emp.tipo_contrato || \"\").toLowerCase().includes(\"parc\");\n\n  // ====== CLASIFICARE ======\n  let totalCompl = 0, totalExtra = 0;\n\n  if (contrato > 0) {\n    // avem contract -> regulile standard (part-time vs full-time)\n    if (esPart) {\n      const maxCompl = Math.max(0, contrato - totalPlanFull);\n      totalCompl = Math.min(exced, maxCompl);\n      totalExtra = Math.max(0, exced - maxCompl);\n    } else {\n      totalCompl = 0;\n      totalExtra = Math.max(0, totalTrab - contrato);\n    }\n  } else {\n    // NU avem contract -> folosim PERMITIDAS ca plafon maxim\n    if (permitidas > 0) {\n      totalCompl = 0;\n      totalExtra = Math.max(0, totalTrab - permitidas);\n    } else {\n      // dacă nu avem nici permitidas, cădem pe „excedente” (surplus zilnic)\n      totalCompl = 0;\n      totalExtra = Math.max(0, exced);\n    }\n  }\n\n  const totalOrdin = totalTrab - totalCompl - totalExtra;\n\n  // --- DELTE & STATUSURI (ambele) ---\n  const planHastaHoy = zileShown.reduce((a,z)=> a + Number(z.plan ?? 0), 0);\n  const diffPlanHastaHoy = totalTrab - planHastaHoy;   // + = peste plan până azi\n  const diffPlanMensual  = totalTrab - totalPlanFull;  // + = peste plan lunar\n  const diffPermitidas   = totalTrab - permitidas;     // + = peste limite\n\n  // până azi (dacă luna curentă; dacă nu, este echivalent cu lunar)\n  emp.estado_plan_hasta_hoy = (diffPlanHastaHoy > EPS) ? \"SOBREPASADO\" : \"OK\";\n\n  // pe toată luna\n  emp.estado_plan           = (diffPlanMensual  > EPS) ? \"SOBREPASADO\" : \"OK\";\n  emp.estado_permitidas     = (permitidas > 0 && diffPermitidas > EPS) ? \"EXCESO\" : \"OK\";\n\n  // Output totaluri\n  emp.total_ordinarias        = +totalOrdin.toFixed(2);\n  emp.total_complementarias   = +totalCompl.toFixed(2);\n  emp.total_extraordinarias   = +totalExtra.toFixed(2);\n  emp.total_trabajadas        = +totalTrab.toFixed(2);\n  emp.total_plan              = +Number(totalPlanFull).toFixed(2);\n  emp.total_permitidas        = +permitidas.toFixed(2);\n\n  // Deltas utile\n  emp.plan_hasta_hoy          = +planHastaHoy.toFixed(2);\n  emp.diff_plan_hasta_hoy     = +diffPlanHastaHoy.toFixed(2);\n  emp.diff_plan_mensual       = +diffPlanMensual.toFixed(2);\n  emp.diff_permitidas         = +diffPermitidas.toFixed(2);\n\n  emp.detalii_zilnice = daily;\n  emp.luna_selectata  = lunaSelectata;\n\n  out.push({ json: emp });\n}\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        -192
      ],
      "id": "ea5d3f67-bde2-4dab-a656-f840e603eb9e",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "/* ============================================================\n   ANUAL GENERAL — toți angajații — FĂRĂ DETALII ZILNICE\n   Include: Ausencias (parser robust), Bajas, Fiestas, rezumat lunar\n   Parametri n8n:\n     @ano  := {{$json.query.ano}}\n     @ccaa := optional {{$json.query.ccaa}} (default ES-MD)\n   ============================================================ */\nSET @ano := CAST('{{ $json.query.ano }}' AS UNSIGNED);\nSET @ccaa_default := COALESCE(NULLIF('{{ $json.query.ccaa }}',''), 'ES-MD');\n\nSET @d_first := STR_TO_DATE(CONCAT(@ano,'-01-01'), '%Y-%m-%d');\nSET @d_last  := STR_TO_DATE(CONCAT(@ano,'-12-31'), '%Y-%m-%d');\n\n/* buffer suficient pentru JSON lunar */\nSET SESSION group_concat_max_len = 1000000;\n\nWITH RECURSIVE\n/* ------------------------------\n   0) Calendar (zile & luni)\n   ------------------------------ */\nmeses AS (\n  SELECT DATE_FORMAT(@d_first, '%Y-%m') AS ym, @d_first AS d_first_m, LAST_DAY(@d_first) AS d_last_m\n  UNION ALL\n  SELECT DATE_FORMAT(DATE_ADD(d_first_m, INTERVAL 1 MONTH), '%Y-%m'),\n         DATE_ADD(d_first_m, INTERVAL 1 MONTH),\n         LAST_DAY(DATE_ADD(d_first_m, INTERVAL 1 MONTH))\n  FROM meses\n  WHERE d_first_m < STR_TO_DATE(CONCAT(@ano,'-12-01'), '%Y-%m-%d')\n),\nfechas AS (\n  SELECT @d_first AS d\n  UNION ALL SELECT DATE_ADD(d, INTERVAL 1 DAY) FROM fechas WHERE d < @d_last\n),\n\n/* ------------------------------\n   1) Cuadrante (unpivot anual)\n   ------------------------------ */\ncuadrante_unpivot AS (\n  SELECT CAST(cq.CODIGO AS CHAR) AS empleadoId, 1 AS dia,  cq.CENTRO AS centro_cuadrante, cq.ZI_1  AS val, ms.ym, ms.d_first_m, ms.d_last_m\n    FROM cuadrante cq JOIN meses ms ON cq.LUNA = ms.ym\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR), 2 ,  cq.CENTRO, cq.ZI_2 ,  ms.ym, ms.d_first_m, ms.d_last_m FROM cuadrante cq JOIN meses ms ON cq.LUNA = ms.ym\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR), 3 ,  cq.CENTRO, cq.ZI_3 ,  ms.ym, ms.d_first_m, ms.d_last_m FROM cuadrante cq JOIN meses ms ON cq.LUNA = ms.ym\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR), 4 ,  cq.CENTRO, cq.ZI_4 ,  ms.ym, ms.d_first_m, ms.d_last_m FROM cuadrante cq JOIN meses ms ON cq.LUNA = ms.ym\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR), 5 ,  cq.CENTRO, cq.ZI_5 ,  ms.ym, ms.d_first_m, ms.d_last_m FROM cuadrante cq JOIN meses ms ON cq.LUNA = ms.ym\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR), 6 ,  cq.CENTRO, cq.ZI_6 ,  ms.ym, ms.d_first_m, ms.d_last_m FROM cuadrante cq JOIN meses ms ON cq.LUNA = ms.ym\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR), 7 ,  cq.CENTRO, cq.ZI_7 ,  ms.ym, ms.d_first_m, ms.d_last_m FROM cuadrante cq JOIN meses ms ON cq.LUNA = ms.ym\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR), 8 ,  cq.CENTRO, cq.ZI_8 ,  ms.ym, ms.d_first_m, ms.d_last_m FROM cuadrante cq JOIN meses ms ON cq.LUNA = ms.ym\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR), 9 ,  cq.CENTRO, cq.ZI_9 ,  ms.ym, ms.d_first_m, ms.d_last_m FROM cuadrante cq JOIN meses ms ON cq.LUNA = ms.ym\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR),10 ,  cq.CENTRO, cq.ZI_10,  ms.ym, ms.d_first_m, ms.d_last_m FROM cuadrante cq JOIN meses ms ON cq.LUNA = ms.ym\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR),11 ,  cq.CENTRO, cq.ZI_11,  ms.ym, ms.d_first_m, ms.d_last_m FROM cuadrante cq JOIN meses ms ON cq.LUNA = ms.ym\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR),12 ,  cq.CENTRO, cq.ZI_12,  ms.ym, ms.d_first_m, ms.d_last_m FROM cuadrante cq JOIN meses ms ON cq.LUNA = ms.ym\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR),13 ,  cq.CENTRO, cq.ZI_13,  ms.ym, ms.d_first_m, ms.d_last_m FROM cuadrante cq JOIN meses ms ON cq.LUNA = ms.ym\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR),14 ,  cq.CENTRO, cq.ZI_14,  ms.ym, ms.d_first_m, ms.d_last_m FROM cuadrante cq JOIN meses ms ON cq.LUNA = ms.ym\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR),15 ,  cq.CENTRO, cq.ZI_15,  ms.ym, ms.d_first_m, ms.d_last_m FROM cuadrante cq JOIN meses ms ON cq.LUNA = ms.ym\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR),16 ,  cq.CENTRO, cq.ZI_16,  ms.ym, ms.d_first_m, ms.d_last_m FROM cuadrante cq JOIN meses ms ON cq.LUNA = ms.ym\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR),17 ,  cq.CENTRO, cq.ZI_17,  ms.ym, ms.d_first_m, ms.d_last_m FROM cuadrante cq JOIN meses ms ON cq.LUNA = ms.ym\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR),18 ,  cq.CENTRO, cq.ZI_18,  ms.ym, ms.d_first_m, ms.d_last_m FROM cuadrante cq JOIN meses ms ON cq.LUNA = ms.ym\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR),19 ,  cq.CENTRO, cq.ZI_19,  ms.ym, ms.d_first_m, ms.d_last_m FROM cuadrante cq JOIN meses ms ON cq.LUNA = ms.ym\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR),20 ,  cq.CENTRO, cq.ZI_20,  ms.ym, ms.d_first_m, ms.d_last_m FROM cuadrante cq JOIN meses ms ON cq.LUNA = ms.ym\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR),21 ,  cq.CENTRO, cq.ZI_21,  ms.ym, ms.d_first_m, ms.d_last_m FROM cuadrante cq JOIN meses ms ON cq.LUNA = ms.ym\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR),22 ,  cq.CENTRO, cq.ZI_22,  ms.ym, ms.d_first_m, ms.d_last_m FROM cuadrante cq JOIN meses ms ON cq.LUNA = ms.ym\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR),23 ,  cq.CENTRO, cq.ZI_23,  ms.ym, ms.d_first_m, ms.d_last_m FROM cuadrante cq JOIN meses ms ON cq.LUNA = ms.ym\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR),24 ,  cq.CENTRO, cq.ZI_24,  ms.ym, ms.d_first_m, ms.d_last_m FROM cuadrante cq JOIN meses ms ON cq.LUNA = ms.ym\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR),25 ,  cq.CENTRO, cq.ZI_25,  ms.ym, ms.d_first_m, ms.d_last_m FROM cuadrante cq JOIN meses ms ON cq.LUNA = ms.ym\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR),26 ,  cq.CENTRO, cq.ZI_26,  ms.ym, ms.d_first_m, ms.d_last_m FROM cuadrante cq JOIN meses ms ON cq.LUNA = ms.ym\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR),27 ,  cq.CENTRO, cq.ZI_27,  ms.ym, ms.d_first_m, ms.d_last_m FROM cuadrante cq JOIN meses ms ON cq.LUNA = ms.ym\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR),28 ,  cq.CENTRO, cq.ZI_28,  ms.ym, ms.d_first_m, ms.d_last_m FROM cuadrante cq JOIN meses ms ON cq.LUNA = ms.ym\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR),29 ,  cq.CENTRO, cq.ZI_29,  ms.ym, ms.d_first_m, ms.d_last_m FROM cuadrante cq JOIN meses ms ON cq.LUNA = ms.ym\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR),30 ,  cq.CENTRO, cq.ZI_30,  ms.ym, ms.d_first_m, ms.d_last_m FROM cuadrante cq JOIN meses ms ON cq.LUNA = ms.ym\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR),31 ,  cq.CENTRO, cq.ZI_31,  ms.ym, ms.d_first_m, ms.d_last_m FROM cuadrante cq JOIN meses ms ON cq.LUNA = ms.ym\n),\ncuadrante_dia AS (\n  SELECT\n    cu.empleadoId,\n    DATE_ADD(cu.d_first_m, INTERVAL (cu.dia - 1) DAY) AS fecha,\n    cu.dia,\n    CASE WHEN cu.val IS NOT NULL AND TRIM(cu.val) <> '' THEN 1 ELSE 0 END AS tiene_cuadrante,\n    ROUND(\n      CASE \n        WHEN DATE_ADD(cu.d_first_m, INTERVAL (cu.dia - 1) DAY) > cu.d_last_m THEN 0\n        WHEN UPPER(TRIM(cu.val)) IN ('LIB','LIBRE','L','DESCANSO','FESTIVO','VAC','VACACIONES','BAJA','X') THEN 0\n        WHEN TRIM(cu.val) LIKE '%:%-%:%' THEN\n          (((TIME_TO_SEC(STR_TO_DATE(SUBSTRING_INDEX(SUBSTRING_INDEX(SUBSTRING_INDEX(TRIM(cu.val),' ',-1),'-',-1),' ',1), '%H:%i'))\n           -  TIME_TO_SEC(STR_TO_DATE(SUBSTRING_INDEX(SUBSTRING_INDEX(SUBSTRING_INDEX(TRIM(cu.val),' ',-1),'-', 1),' ',1), '%H:%i'))\n           + 86400) % 86400) / 3600)\n        WHEN TRIM(cu.val) REGEXP '^[0-9]+:[0-9]{2}$' THEN TIME_TO_SEC(STR_TO_DATE(TRIM(cu.val),'%H:%i'))/3600\n        WHEN TRIM(cu.val) REGEXP '^[0-9]+(\\\\.[0-9]+)?$' THEN CAST(TRIM(cu.val) AS DECIMAL(10,2))\n        ELSE 0\n      END\n    ,2) AS horas_cuadrante_dia\n  FROM cuadrante_unpivot cu\n),\n\n/* ------------------------------\n   2) Horarios (m1+m2+m3, overnight fix)\n   ------------------------------ */\nhorario_dia_m AS (\n  SELECT\n    CAST(de.CODIGO AS CHAR) AS empleadoId,\n    f.d AS fecha,\n    DAY(f.d) AS dia,\n    CASE DAYOFWEEK(f.d)\n      WHEN 2 THEN COALESCE((TIMESTAMPDIFF(MINUTE, CONCAT(f.d,' ',h.lun_in1), CONCAT(f.d,' ',h.lun_out1)) + 1440) % 1440, 0)\n      WHEN 3 THEN COALESCE((TIMESTAMPDIFF(MINUTE, CONCAT(f.d,' ',h.mar_in1), CONCAT(f.d,' ',h.mar_out1)) + 1440) % 1440, 0)\n      WHEN 4 THEN COALESCE((TIMESTAMPDIFF(MINUTE, CONCAT(f.d,' ',h.mie_in1), CONCAT(f.d,' ',h.mie_out1)) + 1440) % 1440, 0)\n      WHEN 5 THEN COALESCE((TIMESTAMPDIFF(MINUTE, CONCAT(f.d,' ',h.joi_in1), CONCAT(f.d,' ',h.joi_out1)) + 1440) % 1440, 0)\n      WHEN 6 THEN COALESCE((TIMESTAMPDIFF(MINUTE, CONCAT(f.d,' ',h.vin_in1), CONCAT(f.d,' ',h.vin_out1)) + 1440) % 1440, 0)\n      WHEN 7 THEN COALESCE((TIMESTAMPDIFF(MINUTE, CONCAT(f.d,' ',h.sam_in1), CONCAT(f.d,' ',h.sam_out1)) + 1440) % 1440, 0)\n      WHEN 1 THEN COALESCE((TIMESTAMPDIFF(MINUTE, CONCAT(f.d,' ',h.dum_in1), CONCAT(f.d,' ',h.dum_out1)) + 1440) % 1440, 0)\n    END AS m1,\n    CASE DAYOFWEEK(f.d)\n      WHEN 2 THEN COALESCE((TIMESTAMPDIFF(MINUTE, CONCAT(f.d,' ',h.lun_in2), CONCAT(f.d,' ',h.lun_out2)) + 1440) % 1440, 0)\n      WHEN 3 THEN COALESCE((TIMESTAMPDIFF(MINUTE, CONCAT(f.d,' ',h.mar_in2), CONCAT(f.d,' ',h.mar_out2)) + 1440) % 1440, 0)\n      WHEN 4 THEN COALESCE((TIMESTAMPDIFF(MINUTE, CONCAT(f.d,' ',h.mie_in2), CONCAT(f.d,' ',h.mie_out2)) + 1440) % 1440, 0)\n      WHEN 5 THEN COALESCE((TIMESTAMPDIFF(MINUTE, CONCAT(f.d,' ',h.joi_in2), CONCAT(f.d,' ',h.joi_out2)) + 1440) % 1440, 0)\n      WHEN 6 THEN COALESCE((TIMESTAMPDIFF(MINUTE, CONCAT(f.d,' ',h.vin_in2), CONCAT(f.d,' ',h.vin_out2)) + 1440) % 1440, 0)\n      WHEN 7 THEN COALESCE((TIMESTAMPDIFF(MINUTE, CONCAT(f.d,' ',h.sam_in2), CONCAT(f.d,' ',h.sam_out2)) + 1440) % 1440, 0)\n      WHEN 1 THEN COALESCE((TIMESTAMPDIFF(MINUTE, CONCAT(f.d,' ',h.dum_in2), CONCAT(f.d,' ',h.dum_out2)) + 1440) % 1440, 0)\n    END AS m2,\n    CASE DAYOFWEEK(f.d)\n      WHEN 2 THEN COALESCE((TIMESTAMPDIFF(MINUTE, CONCAT(f.d,' ',h.lun_in3), CONCAT(f.d,' ',h.lun_out3)) + 1440) % 1440, 0)\n      WHEN 3 THEN COALESCE((TIMESTAMPDIFF(MINUTE, CONCAT(f.d,' ',h.mar_in3), CONCAT(f.d,' ',h.mar_out3)) + 1440) % 1440, 0)\n      WHEN 4 THEN COALESCE((TIMESTAMPDIFF(MINUTE, CONCAT(f.d,' ',h.mie_in3), CONCAT(f.d,' ',h.mie_out3)) + 1440) % 1440, 0)\n      WHEN 5 THEN COALESCE((TIMESTAMPDIFF(MINUTE, CONCAT(f.d,' ',h.joi_in3), CONCAT(f.d,' ',h.joi_out3)) + 1440) % 1440, 0)\n      WHEN 6 THEN COALESCE((TIMESTAMPDIFF(MINUTE, CONCAT(f.d,' ',h.vin_in3), CONCAT(f.d,' ',h.vin_out3)) + 1440) % 1440, 0)\n      WHEN 7 THEN COALESCE((TIMESTAMPDIFF(MINUTE, CONCAT(f.d,' ',h.sam_in3), CONCAT(f.d,' ',h.sam_out3)) + 1440) % 1440, 0)\n      WHEN 1 THEN COALESCE((TIMESTAMPDIFF(MINUTE, CONCAT(f.d,' ',h.dum_in3), CONCAT(f.d,' ',h.dum_out3)) + 1440) % 1440, 0)\n    END AS m3\n  FROM DatosEmpleados de\n  JOIN fechas f\n  LEFT JOIN horarios h\n    ON h.centro_nombre = de.`CENTRO TRABAJO`\n   AND h.grupo_nombre  = de.`GRUPO`\n   AND (h.vigente_desde IS NULL OR h.vigente_desde <= f.d)\n   AND (h.vigente_hasta IS NULL OR f.d <= h.vigente_hasta)\n  WHERE de.ESTADO = 'ACTIVO'\n),\nhorario_dia AS (\n  SELECT empleadoId, fecha, dia,\n         ROUND(CASE WHEN (m1+m2+m3) >= 1320 THEN GREATEST(m1,m2,m3)/60 ELSE (m1+m2+m3)/60 END,2) AS horas_horario_dia\n  FROM horario_dia_m\n),\n\n/* ------------------------------\n   2.1) Fiestas & Flags\n   ------------------------------ */\nempleado_ccaa AS (\n  SELECT CAST(de.CODIGO AS CHAR) AS empleadoId, @ccaa_default AS ccaa\n  FROM DatosEmpleados de\n  WHERE de.ESTADO='ACTIVO'\n),\nfiestas_dia AS (\n  SELECT ec.empleadoId, f.d AS fecha,\n         CASE \n           WHEN fi.active=1\n            AND DATE(COALESCE(fi.observed_date, fi.date)) = f.d\n            AND (LOWER(fi.scope) IN ('nacional','national')\n              OR (LOWER(fi.scope) IN ('autonómico','autonomico','ccaa') AND fi.ccaa_code = ec.ccaa))\n           THEN 1 ELSE 0\n         END AS es_fiesta\n  FROM empleado_ccaa ec\n  JOIN fechas f\n  LEFT JOIN fiestas fi ON DATE(COALESCE(fi.observed_date, fi.date)) = f.d\n),\nempleado_flags AS (\n  SELECT CAST(de.CODIGO AS CHAR) AS empleadoId,\n         CASE WHEN LOWER(TRIM(de.TrabajaFestivos)) IN ('si','sí','s','1','true','da','y') THEN 1 ELSE 0 END AS trabaja_festivos\n  FROM DatosEmpleados de\n  WHERE de.ESTADO='ACTIVO'\n),\n\n/* ------------------------------\n   2.2) Bajas (MutuaCasos)\n   ------------------------------ */\nbajas_intervalos AS (\n  SELECT TRIM(CAST(mc.Codigo_Empleado AS CHAR)) AS empleadoId,\n         COALESCE(\n           CASE \n             WHEN NULLIF(mc.`Fecha baja`, '') IS NULL THEN NULL\n             WHEN mc.`Fecha baja` REGEXP '^[0-9]{4}-[0-9]{2}-[0-9]{2}$' THEN DATE(mc.`Fecha baja`)\n             WHEN mc.`Fecha baja` LIKE '__/__/____' THEN STR_TO_DATE(mc.`Fecha baja`, '%d/%m/%Y')\n             ELSE NULL\n           END\n         ) AS d_ini,\n         COALESCE(\n           CASE \n             WHEN NULLIF(mc.`Fecha de alta`, '') IS NULL THEN NULL\n             WHEN mc.`Fecha de alta` REGEXP '^[0-9]{4}-[0-9]{2}-[0-9]{2}$' THEN DATE(mc.`Fecha de alta`)\n             WHEN mc.`Fecha de alta` LIKE '__/__/____' THEN STR_TO_DATE(mc.`Fecha de alta`, '%d/%m/%Y')\n             ELSE NULL\n           END,\n           @d_last\n         ) AS d_fin\n  FROM MutuaCasos mc\n),\nbajas_dia AS (\n  SELECT bi.empleadoId, f.d AS fecha,\n         CASE WHEN f.d BETWEEN bi.d_ini AND bi.d_fin THEN 1 ELSE 0 END AS es_baja\n  FROM bajas_intervalos bi\n  JOIN fechas f\n  WHERE bi.d_ini IS NOT NULL\n    AND bi.d_ini <= @d_last\n    AND bi.d_fin >= @d_first\n),\n\n/* ------------------------------\n   2.3) Ausencias (parser robust)\n   ------------------------------ */\naus_raw AS (\n  SELECT CAST(a.`CODIGO` AS CHAR) AS empleadoId,\n         TRIM(a.`TIPO`)           AS tipo,\n         TRIM(REPLACE(REPLACE(a.`FECHA`,'–','-'),'—','-')) AS fecha_txt\n  FROM Ausencias a\n),\naus_parts AS (\n  SELECT empleadoId,\n         tipo,\n         CASE \n           WHEN fecha_txt LIKE '% %' THEN TRIM(TRAILING '-' FROM SUBSTRING_INDEX(fecha_txt,' ',1))\n           ELSE fecha_txt\n         END AS start_raw,\n         CASE \n           WHEN fecha_txt LIKE '% %' THEN TRIM(LEADING '-'  FROM SUBSTRING_INDEX(fecha_txt,' ',-1))\n           ELSE fecha_txt\n         END AS end_raw\n  FROM aus_raw\n),\naus_norm AS (\n  SELECT empleadoId, tipo,\n         COALESCE(STR_TO_DATE(start_raw, '%Y-%m-%d'), STR_TO_DATE(start_raw, '%Y-%m-%e')) AS d_start,\n         COALESCE(STR_TO_DATE(end_raw,   '%Y-%m-%d'), STR_TO_DATE(end_raw,   '%Y-%m-%e')) AS d_end\n  FROM aus_parts\n),\naus_dia AS (\n  SELECT an.empleadoId, f.d AS fecha,\n         MAX(CASE WHEN UPPER(an.tipo)='VACACIONES' THEN 1 ELSE 0 END) AS es_vacaciones,\n         MAX(CASE WHEN UPPER(an.tipo)<> 'VACACIONES' THEN 1 ELSE 0 END) AS es_ausencia\n  FROM aus_norm an\n  JOIN fechas f\n    ON an.d_start IS NOT NULL\n   AND an.d_end   IS NOT NULL\n   AND f.d BETWEEN an.d_start AND an.d_end\n  GROUP BY an.empleadoId, f.d\n),\n\n/* ------------------------------\n   3) PLAN zilnic (doar pt agregări)\n   ------------------------------ */\nempleado_fechas AS (\n  SELECT CAST(de.CODIGO AS CHAR) AS empleadoId, f.d AS fecha, DAY(f.d) AS dia\n  FROM DatosEmpleados de\n  JOIN fechas f\n  WHERE de.ESTADO='ACTIVO'\n),\ndaily_plan AS (\n  SELECT\n    ef.empleadoId,\n    ef.fecha,\n    ef.dia,\n    CASE\n      WHEN bj.es_baja = 1 THEN 0\n      WHEN COALESCE(au.es_vacaciones,0) = 1 THEN 0\n      WHEN fd2.es_fiesta = 1 AND COALESCE(tf.trabaja_festivos,0) = 0 THEN 0\n      WHEN COALESCE(au.es_ausencia,0) = 1 THEN 0\n      WHEN cd.tiene_cuadrante = 1 THEN cd.horas_cuadrante_dia\n      WHEN hd.horas_horario_dia IS NOT NULL THEN hd.horas_horario_dia\n      ELSE 0\n    END AS horas_plan,\n    CASE\n      WHEN bj.es_baja = 1 THEN 'baja_medica'\n      WHEN COALESCE(au.es_vacaciones,0) = 1 THEN 'vacaciones'\n      WHEN fd2.es_fiesta = 1 AND COALESCE(tf.trabaja_festivos,0) = 0 THEN 'fiesta'\n      WHEN COALESCE(au.es_ausencia,0) = 1 THEN 'ausencia'\n      WHEN cd.tiene_cuadrante = 1 THEN 'cuadrante'\n      WHEN hd.horas_horario_dia IS NOT NULL AND hd.horas_horario_dia > 0 THEN 'horario'\n      ELSE 'none'\n    END AS fuente,\n    COALESCE(bj.es_baja,0)        AS es_baja,\n    COALESCE(au.es_vacaciones,0)  AS es_vacaciones,\n    CASE WHEN COALESCE(au.es_vacaciones,0)=0 THEN COALESCE(au.es_ausencia,0) ELSE 0 END AS es_ausencia,\n    COALESCE(fd2.es_fiesta,0)     AS es_fiesta\n  FROM empleado_fechas ef\n  LEFT JOIN cuadrante_dia cd\n    ON cd.empleadoId = ef.empleadoId AND cd.fecha = ef.fecha\n  LEFT JOIN horario_dia hd\n    ON hd.empleadoId = ef.empleadoId AND hd.fecha = ef.fecha\n  LEFT JOIN bajas_dia bj\n    ON bj.empleadoId = ef.empleadoId AND bj.fecha = ef.fecha\n  LEFT JOIN fiestas_dia fd2\n    ON fd2.empleadoId = ef.empleadoId AND fd2.fecha = ef.fecha\n  LEFT JOIN aus_dia au\n    ON au.empleadoId = ef.empleadoId AND au.fecha = ef.fecha\n  LEFT JOIN empleado_flags tf\n    ON tf.empleadoId = ef.empleadoId\n),\n\n/* ------------------------------\n   4) Fichajes (anual)\n   ------------------------------ */\nfichaje_base AS (\n  SELECT CAST(f.CODIGO AS CHAR) AS empleadoId, DATE(f.FECHA) AS fecha, f.DURACION AS duracion\n  FROM Fichaje f\n  WHERE DATE(f.FECHA) >= @d_first AND DATE(f.FECHA) < DATE_ADD(@d_last, INTERVAL 1 DAY)\n),\nfichaje_has_events AS (\n  SELECT empleadoId, fecha, COUNT(*) AS cnt_events\n  FROM fichaje_base\n  GROUP BY empleadoId, fecha\n),\nfichaje_with_duration AS (\n  SELECT empleadoId, fecha, TIME_TO_SEC(duracion) AS dur_secs\n  FROM fichaje_base\n  WHERE duracion IS NOT NULL AND TRIM(duracion) <> '' AND duracion <> '00:00:00'\n),\nfichaje_dia AS (\n  SELECT he.empleadoId, he.fecha,\n         ROUND(COALESCE(SUM(fd.dur_secs),0)/3600,2) AS horas_fichadas\n  FROM fichaje_has_events he\n  LEFT JOIN fichaje_with_duration fd\n    ON fd.empleadoId = he.empleadoId AND fd.fecha = he.fecha\n  GROUP BY he.empleadoId, he.fecha\n),\nfichaje_anual AS (\n  SELECT empleadoId, ROUND(SUM(horas_fichadas),2) AS horas_trabajadas_anual\n  FROM fichaje_dia\n  GROUP BY empleadoId\n),\n\n/* ------------------------------\n   5) Agregări pe lună/an + rezumat lunar JSON\n   ------------------------------ */\nplan_mes AS (\n  SELECT dp.empleadoId,\n         DATE_FORMAT(dp.fecha, '%Y-%m') AS ym,\n         ROUND(SUM(dp.horas_plan),2) AS horas_plan_mes,\n         ROUND(SUM(CASE WHEN dp.fuente='cuadrante' THEN dp.horas_plan ELSE 0 END),2) AS horas_cuadrante_mes,\n         ROUND(SUM(CASE WHEN dp.fuente='horario'   THEN dp.horas_plan ELSE 0 END),2) AS horas_horario_mes,\n         SUM(CASE WHEN dp.fuente='cuadrante' THEN 1 ELSE 0 END) AS cnt_cuadrante,\n         SUM(CASE WHEN dp.fuente='horario'   THEN 1 ELSE 0 END) AS cnt_horario\n  FROM daily_plan dp\n  GROUP BY dp.empleadoId, DATE_FORMAT(dp.fecha, '%Y-%m')\n),\nplan_mes_fuente AS (\n  SELECT pm.*,\n         CASE\n           WHEN pm.cnt_cuadrante > 0 AND pm.cnt_horario = 0 THEN 'cuadrante'\n           WHEN pm.cnt_cuadrante = 0 AND pm.cnt_horario > 0 THEN 'horario'\n           WHEN pm.cnt_cuadrante > 0 AND pm.cnt_horario > 0 THEN 'mixto'\n           ELSE 'none'\n         END AS fuente_mes\n  FROM plan_mes pm\n),\nplan_anual AS (\n  SELECT empleadoId,\n         ROUND(SUM(horas_plan_mes),2)      AS horas_plan_anual,\n         ROUND(SUM(horas_cuadrante_mes),2) AS horas_cuadrante_anual,\n         ROUND(SUM(horas_horario_mes),2)   AS horas_horario_anual,\n         SUM(CASE WHEN fuente_mes='cuadrante' THEN 1 ELSE 0 END) AS meses_con_cuadrante,\n         SUM(CASE WHEN fuente_mes='horario'   THEN 1 ELSE 0 END) AS meses_con_horario,\n         SUM(CASE WHEN fuente_mes='mixto'     THEN 1 ELSE 0 END) AS meses_mixtos\n  FROM plan_mes_fuente\n  GROUP BY empleadoId\n),\nsumar_flags_zile AS (\n  SELECT \n    empleadoId,\n    SUM(CASE WHEN es_baja=1 THEN 1 ELSE 0 END)        AS dias_baja,\n    SUM(CASE WHEN es_vacaciones=1 THEN 1 ELSE 0 END)  AS dias_vacaciones,\n    SUM(CASE WHEN es_ausencia=1 THEN 1 ELSE 0 END)    AS dias_ausencia,\n    SUM(CASE WHEN es_fiesta=1 THEN 1 ELSE 0 END)      AS dias_fiesta\n  FROM daily_plan\n  GROUP BY empleadoId\n),\nresumen_mensual AS (\n  SELECT empleadoId,\n         CONCAT(\n           '[',\n           GROUP_CONCAT(\n             CONCAT(\n               '{\"ym\":\"', ym,\n               '\",\"horas_plan_mes\":',     CAST(horas_plan_mes      AS CHAR),\n               ',\"horas_cuadrante_mes\":', CAST(horas_cuadrante_mes AS CHAR),\n               ',\"horas_horario_mes\":',   CAST(horas_horario_mes   AS CHAR),\n               ',\"fuente_mes\":\"',         fuente_mes, '\"',\n               '}'\n             ) ORDER BY ym SEPARATOR ','\n           ),\n           ']'\n         ) AS resumen_mensual\n  FROM plan_mes_fuente\n  GROUP BY empleadoId\n),\ncontrato_factor AS (\n  SELECT SUM(DAY(d_last_m)/7) AS factor FROM meses\n)\n\n/* ------------------------------\n   6) SELECT FINAL (GENERAL)\n   ------------------------------ */\nSELECT\n  de.CODIGO                               AS empleadoId,\n  de.`NOMBRE / APELLIDOS`                 AS empleadoNombre,\n  de.GRUPO                                AS grupo,\n  de.`CENTRO TRABAJO`                     AS centro_trabajo,\n  de.`TIPO DE CONTRATO`                   AS tipo_contrato,\n  ROUND(COALESCE(de.`HORAS DE CONTRATO`,0),2) AS horas_contrato,\n\n  COALESCE(\n    (SELECT MAX(cu.centro_cuadrante) FROM cuadrante_unpivot cu WHERE cu.empleadoId = CAST(de.CODIGO AS CHAR)),\n    de.`CENTRO TRABAJO`\n  ) AS centro_cuadrante,\n\n  CASE\n    WHEN COALESCE(pa.meses_mixtos,0) > 0\n      OR (COALESCE(pa.meses_con_cuadrante,0) > 0 AND COALESCE(pa.meses_con_horario,0) > 0) THEN 'mixto'\n    WHEN COALESCE(pa.meses_con_cuadrante,0) > 0 AND COALESCE(pa.meses_con_horario,0) = 0 THEN 'cuadrante'\n    WHEN COALESCE(pa.meses_con_horario,0) > 0 AND COALESCE(pa.meses_con_cuadrante,0) = 0 THEN 'horario'\n    ELSE 'sin cuadrante y sin horario'\n  END AS fuente_anual,\n\n  COALESCE(pa.horas_plan_anual, 0)        AS horas_plan_anual,\n  COALESCE(pa.horas_cuadrante_anual, 0)   AS horas_cuadrante_anual,\n  COALESCE(pa.horas_horario_anual, 0)     AS horas_horario_anual,\n\n  /* contract anual: HORAS_CONTRATO × Σ DAY(last_day)/7 */\n  ROUND(COALESCE(de.`HORAS DE CONTRATO`,0) * (SELECT factor FROM contrato_factor), 2) AS horas_contrato_anual,\n\n  COALESCE(fa.horas_trabajadas_anual, 0)  AS horas_trabajadas_anual,\n\n  hp.`Horas Mensuales`                    AS horas_mensuales_permitidas,\n  hp.`Horas Anuales`                      AS horas_anuales_permitidas,\n  COALESCE(hp.`Horas Anuales`, COALESCE(hp.`Horas Mensuales`,0)*12, 0) AS horas_permitidas_interval,\n\n  /* număr zile tip */\n  COALESCE(sfz.dias_baja,0)        AS dias_baja,\n  COALESCE(sfz.dias_vacaciones,0)  AS dias_vacaciones,\n  COALESCE(sfz.dias_ausencia,0)    AS dias_ausencia,\n  COALESCE(sfz.dias_fiesta,0)      AS dias_fiesta,\n\n  COALESCE(rm.resumen_mensual, '[]')      AS resumen_mensual,\n\n  COALESCE(pa.meses_con_cuadrante,0)      AS meses_con_cuadrante,\n  COALESCE(pa.meses_con_horario,0)        AS meses_con_horario,\n  COALESCE(pa.meses_mixtos,0)             AS meses_mixtos\n\nFROM DatosEmpleados de\nLEFT JOIN plan_anual       pa ON pa.empleadoId = CAST(de.CODIGO AS CHAR)\nLEFT JOIN fichaje_anual    fa ON fa.empleadoId = CAST(de.CODIGO AS CHAR)\nLEFT JOIN horaspermitidas  hp ON hp.GRUPO     = de.GRUPO\nLEFT JOIN resumen_mensual  rm ON rm.empleadoId = CAST(de.CODIGO AS CHAR)\nLEFT JOIN sumar_flags_zile sfz ON sfz.empleadoId = CAST(de.CODIGO AS CHAR)\nWHERE de.ESTADO = 'ACTIVO'\nORDER BY de.CODIGO;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        544,
        16
      ],
      "id": "796d9bfc-5c46-4421-8ec8-6f06797e20e2",
      "name": "query an",
      "credentials": {
        "mySql": {
          "id": "47tEcFVMWEV6ljvQ",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "/* ============================================================\n   DETALLE ANUAL (pe zile) — 1 angajat — cu AUSENCIAS robuste\n   Parametri (din payload n8n):\n     @codigo := {{$json.query.codigo}}\n     @ano    := {{$json.query.ano}}\n     @ccaa   := optional {{$json.query.ccaa}} (fallback ES-MD)\n   ============================================================ */\n\n-- ==== Parametri din payload ====\nSET @codigo := CAST('{{ $json.query.codigo }}' AS CHAR);\nSET @ano    := CAST('{{ $json.query.ano }}' AS UNSIGNED);\nSET @ccaa_default := COALESCE(NULLIF('{{ $json.query.ccaa }}',''), 'ES-MD');\n\n-- Interval anual\nSET @d_first := STR_TO_DATE(CONCAT(@ano,'-01-01'), '%Y-%m-%d');\nSET @d_last  := STR_TO_DATE(CONCAT(@ano,'-12-31'), '%Y-%m-%d');\n\nWITH RECURSIVE\n\n/* 0) Calendar ZILNIC și LUNAR */\nfechas AS (\n  SELECT @d_first AS d\n  UNION ALL\n  SELECT DATE_ADD(d, INTERVAL 1 DAY) FROM fechas WHERE d < @d_last\n),\nmeses AS (\n  SELECT 1 AS m UNION ALL SELECT 2 UNION ALL SELECT 3 UNION ALL SELECT 4 UNION ALL SELECT 5 UNION ALL SELECT 6\n  UNION ALL SELECT 7 UNION ALL SELECT 8 UNION ALL SELECT 9 UNION ALL SELECT 10 UNION ALL SELECT 11 UNION ALL SELECT 12\n),\nmeses_bounds AS (\n  SELECT \n    m,\n    STR_TO_DATE(CONCAT(@ano,'-',LPAD(m,2,'0'),'-01'), '%Y-%m-%d')          AS m_first,\n    LAST_DAY(STR_TO_DATE(CONCAT(@ano,'-',LPAD(m,2,'0'),'-01'), '%Y-%m-%d')) AS m_last\n  FROM meses\n),\n\n/* 1) CUADRANTE (unpivot ZI_1..ZI_31) pe tot anul -> ore plan/zi */\ncuadrante_unpivot AS (\n  SELECT CAST(cq.CODIGO AS CHAR) AS empleadoId, cq.LUNA AS ym, 1  AS dia, cq.CENTRO AS centro_cuadrante, cq.ZI_1  AS val \n    FROM cuadrante cq WHERE cq.CODIGO=@codigo AND LEFT(cq.LUNA,4)=CAST(@ano AS CHAR)\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR), cq.LUNA, 2 , cq.CENTRO, cq.ZI_2  FROM cuadrante cq WHERE cq.CODIGO=@codigo AND LEFT(cq.LUNA,4)=CAST(@ano AS CHAR)\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR), cq.LUNA, 3 , cq.CENTRO, cq.ZI_3  FROM cuadrante cq WHERE cq.CODIGO=@codigo AND LEFT(cq.LUNA,4)=CAST(@ano AS CHAR)\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR), cq.LUNA, 4 , cq.CENTRO, cq.ZI_4  FROM cuadrante cq WHERE cq.CODIGO=@codigo AND LEFT(cq.LUNA,4)=CAST(@ano AS CHAR)\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR), cq.LUNA, 5 , cq.CENTRO, cq.ZI_5  FROM cuadrante cq WHERE cq.CODIGO=@codigo AND LEFT(cq.LUNA,4)=CAST(@ano AS CHAR)\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR), cq.LUNA, 6 , cq.CENTRO, cq.ZI_6  FROM cuadrante cq WHERE cq.CODIGO=@codigo AND LEFT(cq.LUNA,4)=CAST(@ano AS CHAR)\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR), cq.LUNA, 7 , cq.CENTRO, cq.ZI_7  FROM cuadrante cq WHERE cq.CODIGO=@codigo AND LEFT(cq.LUNA,4)=CAST(@ano AS CHAR)\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR), cq.LUNA, 8 , cq.CENTRO, cq.ZI_8  FROM cuadrante cq WHERE cq.CODIGO=@codigo AND LEFT(cq.LUNA,4)=CAST(@ano AS CHAR)\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR), cq.LUNA, 9 , cq.CENTRO, cq.ZI_9  FROM cuadrante cq WHERE cq.CODIGO=@codigo AND LEFT(cq.LUNA,4)=CAST(@ano AS CHAR)\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR), cq.LUNA,10 , cq.CENTRO, cq.ZI_10 FROM cuadrante cq WHERE cq.CODIGO=@codigo AND LEFT(cq.LUNA,4)=CAST(@ano AS CHAR)\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR), cq.LUNA,11 , cq.CENTRO, cq.ZI_11 FROM cuadrante cq WHERE cq.CODIGO=@codigo AND LEFT(cq.LUNA,4)=CAST(@ano AS CHAR)\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR), cq.LUNA,12 , cq.CENTRO, cq.ZI_12 FROM cuadrante cq WHERE cq.CODIGO=@codigo AND LEFT(cq.LUNA,4)=CAST(@ano AS CHAR)\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR), cq.LUNA,13 , cq.CENTRO, cq.ZI_13 FROM cuadrante cq WHERE cq.CODIGO=@codigo AND LEFT(cq.LUNA,4)=CAST(@ano AS CHAR)\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR), cq.LUNA,14 , cq.CENTRO, cq.ZI_14 FROM cuadrante cq WHERE cq.CODIGO=@codigo AND LEFT(cq.LUNA,4)=CAST(@ano AS CHAR)\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR), cq.LUNA,15 , cq.CENTRO, cq.ZI_15 FROM cuadrante cq WHERE cq.CODIGO=@codigo AND LEFT(cq.LUNA,4)=CAST(@ano AS CHAR)\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR), cq.LUNA,16 , cq.CENTRO, cq.ZI_16 FROM cuadrante cq WHERE cq.CODIGO=@codigo AND LEFT(cq.LUNA,4)=CAST(@ano AS CHAR)\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR), cq.LUNA,17 , cq.CENTRO, cq.ZI_17 FROM cuadrante cq WHERE cq.CODIGO=@codigo AND LEFT(cq.LUNA,4)=CAST(@ano AS CHAR)\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR), cq.LUNA,18 , cq.CENTRO, cq.ZI_18 FROM cuadrante cq WHERE cq.CODIGO=@codigo AND LEFT(cq.LUNA,4)=CAST(@ano AS CHAR)\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR), cq.LUNA,19 , cq.CENTRO, cq.ZI_19 FROM cuadrante cq WHERE cq.CODIGO=@codigo AND LEFT(cq.LUNA,4)=CAST(@ano AS CHAR)\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR), cq.LUNA,20 , cq.CENTRO, cq.ZI_20 FROM cuadrante cq WHERE cq.CODIGO=@codigo AND LEFT(cq.LUNA,4)=CAST(@ano AS CHAR)\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR), cq.LUNA,21 , cq.CENTRO, cq.ZI_21 FROM cuadrante cq WHERE cq.CODIGO=@codigo AND LEFT(cq.LUNA,4)=CAST(@ano AS CHAR)\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR), cq.LUNA,22 , cq.CENTRO, cq.ZI_22 FROM cuadrante cq WHERE cq.CODIGO=@codigo AND LEFT(cq.LUNA,4)=CAST(@ano AS CHAR)\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR), cq.LUNA,23 , cq.CENTRO, cq.ZI_23 FROM cuadrante cq WHERE cq.CODIGO=@codigo AND LEFT(cq.LUNA,4)=CAST(@ano AS CHAR)\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR), cq.LUNA,24 , cq.CENTRO, cq.ZI_24 FROM cuadrante cq WHERE cq.CODIGO=@codigo AND LEFT(cq.LUNA,4)=CAST(@ano AS CHAR)\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR), cq.LUNA,25 , cq.CENTRO, cq.ZI_25 FROM cuadrante cq WHERE cq.CODIGO=@codigo AND LEFT(cq.LUNA,4)=CAST(@ano AS CHAR)\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR), cq.LUNA,26 , cq.CENTRO, cq.ZI_26 FROM cuadrante cq WHERE cq.CODIGO=@codigo AND LEFT(cq.LUNA,4)=CAST(@ano AS CHAR)\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR), cq.LUNA,27 , cq.CENTRO, cq.ZI_27 FROM cuadrante cq WHERE cq.CODIGO=@codigo AND LEFT(cq.LUNA,4)=CAST(@ano AS CHAR)\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR), cq.LUNA,28 , cq.CENTRO, cq.ZI_28 FROM cuadrante cq WHERE cq.CODIGO=@codigo AND LEFT(cq.LUNA,4)=CAST(@ano AS CHAR)\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR), cq.LUNA,29 , cq.CENTRO, cq.ZI_29 FROM cuadrante cq WHERE cq.CODIGO=@codigo AND LEFT(cq.LUNA,4)=CAST(@ano AS CHAR)\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR), cq.LUNA,30 , cq.CENTRO, cq.ZI_30 FROM cuadrante cq WHERE cq.CODIGO=@codigo AND LEFT(cq.LUNA,4)=CAST(@ano AS CHAR)\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR), cq.LUNA,31 , cq.CENTRO, cq.ZI_31 FROM cuadrante cq WHERE cq.CODIGO=@codigo AND LEFT(cq.LUNA,4)=CAST(@ano AS CHAR)\n),\nplan_cuadrante AS (\n  SELECT\n    empleadoId,\n    STR_TO_DATE(CONCAT(ym, '-', LPAD(dia,2,'0')), '%Y-%m-%d') AS fecha,\n    ROUND(\n      CASE \n        WHEN val IS NULL OR TRIM(val)='' THEN 0\n        WHEN UPPER(TRIM(val)) IN ('LIB','LIBRE','L','DESCANSO','FESTIVO','VAC','VACACIONES','BAJA','X') THEN 0\n        WHEN TRIM(val) LIKE '%:%-%:%' THEN\n             (((TIME_TO_SEC(STR_TO_DATE(SUBSTRING_INDEX(SUBSTRING_INDEX(SUBSTRING_INDEX(TRIM(val),' ',-1),'-',-1),' ',1), '%H:%i'))\n              - TIME_TO_SEC(STR_TO_DATE(SUBSTRING_INDEX(SUBSTRING_INDEX(SUBSTRING_INDEX(TRIM(val),' ',-1),'-', 1),' ',1), '%H:%i'))\n              + 86400) % 86400) / 3600)\n        WHEN TRIM(val) REGEXP '^[0-9]+:[0-9]{2}$' THEN TIME_TO_SEC(STR_TO_DATE(TRIM(val),'%H:%i'))/3600\n        WHEN TRIM(val) REGEXP '^[0-9]+(\\\\.[0-9]+)?$' THEN CAST(TRIM(val) AS DECIMAL(10,2))\n        ELSE 0\n      END\n    ,2) AS horas_plan\n  FROM cuadrante_unpivot\n),\n\n/* 2) HORARIOS (m1+m2+m3 cu overnight-fix + CAP zilnic), pe tot anul */\nhorario_dia_m AS (\n  SELECT\n    CAST(de.CODIGO AS CHAR) AS empleadoId,\n    f.d       AS fecha,\n    DAY(f.d)  AS dia,\n    CASE DAYOFWEEK(f.d)\n      WHEN 2 THEN COALESCE((TIMESTAMPDIFF(MINUTE, CONCAT(f.d,' ',h.lun_in1), CONCAT(f.d,' ',h.lun_out1)) + 1440) % 1440, 0)\n      WHEN 3 THEN COALESCE((TIMESTAMPDIFF(MINUTE, CONCAT(f.d,' ',h.mar_in1), CONCAT(f.d,' ',h.mar_out1)) + 1440) % 1440, 0)\n      WHEN 4 THEN COALESCE((TIMESTAMPDIFF(MINUTE, CONCAT(f.d,' ',h.mie_in1), CONCAT(f.d,' ',h.mie_out1)) + 1440) % 1440, 0)\n      WHEN 5 THEN COALESCE((TIMESTAMPDIFF(MINUTE, CONCAT(f.d,' ',h.joi_in1), CONCAT(f.d,' ',h.joi_out1)) + 1440) % 1440, 0)\n      WHEN 6 THEN COALESCE((TIMESTAMPDIFF(MINUTE, CONCAT(f.d,' ',h.vin_in1), CONCAT(f.d,' ',h.vin_out1)) + 1440) % 1440, 0)\n      WHEN 7 THEN COALESCE((TIMESTAMPDIFF(MINUTE, CONCAT(f.d,' ',h.sam_in1), CONCAT(f.d,' ',h.sam_out1)) + 1440) % 1440, 0)\n      WHEN 1 THEN COALESCE((TIMESTAMPDIFF(MINUTE, CONCAT(f.d,' ',h.dum_in1), CONCAT(f.d,' ',h.dum_out1)) + 1440) % 1440, 0)\n    END AS m1,\n    CASE DAYOFWEEK(f.d)\n      WHEN 2 THEN COALESCE((TIMESTAMPDIFF(MINUTE, CONCAT(f.d,' ',h.lun_in2), CONCAT(f.d,' ',h.lun_out2)) + 1440) % 1440, 0)\n      WHEN 3 THEN COALESCE((TIMESTAMPDIFF(MINUTE, CONCAT(f.d,' ',h.mar_in2), CONCAT(f.d,' ',h.mar_out2)) + 1440) % 1440, 0)\n      WHEN 4 THEN COALESCE((TIMESTAMPDIFF(MINUTE, CONCAT(f.d,' ',h.mie_in2), CONCAT(f.d,' ',h.mie_out2)) + 1440) % 1440, 0)\n      WHEN 5 THEN COALESCE((TIMESTAMPDIFF(MINUTE, CONCAT(f.d,' ',h.joi_in2), CONCAT(f.d,' ',h.joi_out2)) + 1440) % 1440, 0)\n      WHEN 6 THEN COALESCE((TIMESTAMPDIFF(MINUTE, CONCAT(f.d,' ',h.vin_in2), CONCAT(f.d,' ',h.vin_out2)) + 1440) % 1440, 0)\n      WHEN 7 THEN COALESCE((TIMESTAMPDIFF(MINUTE, CONCAT(f.d,' ',h.sam_in2), CONCAT(f.d,' ',h.sam_out2)) + 1440) % 1440, 0)\n      WHEN 1 THEN COALESCE((TIMESTAMPDIFF(MINUTE, CONCAT(f.d,' ',h.dum_in2), CONCAT(f.d,' ',h.dum_out2)) + 1440) % 1440, 0)\n    END AS m2,\n    CASE DAYOFWEEK(f.d)\n      WHEN 2 THEN COALESCE((TIMESTAMPDIFF(MINUTE, CONCAT(f.d,' ',h.lun_in3), CONCAT(f.d,' ',h.lun_out3)) + 1440) % 1440, 0)\n      WHEN 3 THEN COALESCE((TIMESTAMPDIFF(MINUTE, CONCAT(f.d,' ',h.mar_in3), CONCAT(f.d,' ',h.mar_out3)) + 1440) % 1440, 0)\n      WHEN 4 THEN COALESCE((TIMESTAMPDIFF(MINUTE, CONCAT(f.d,' ',h.mie_in3), CONCAT(f.d,' ',h.mie_out3)) + 1440) % 1440, 0)\n      WHEN 5 THEN COALESCE((TIMESTAMPDIFF(MINUTE, CONCAT(f.d,' ',h.joi_in3), CONCAT(f.d,' ',h.joi_out3)) + 1440) % 1440, 0)\n      WHEN 6 THEN COALESCE((TIMESTAMPDIFF(MINUTE, CONCAT(f.d,' ',h.vin_in3), CONCAT(f.d,' ',h.vin_out3)) + 1440) % 1440, 0)\n      WHEN 7 THEN COALESCE((TIMESTAMPDIFF(MINUTE, CONCAT(f.d,' ',h.sam_in3), CONCAT(f.d,' ',h.sam_out3)) + 1440) % 1440, 0)\n      WHEN 1 THEN COALESCE((TIMESTAMPDIFF(MINUTE, CONCAT(f.d,' ',h.dum_in3), CONCAT(f.d,' ',h.dum_out3)) + 1440) % 1440, 0)\n    END AS m3\n  FROM DatosEmpleados de\n  JOIN fechas f\n  LEFT JOIN horarios h\n    ON h.centro_nombre = de.`CENTRO TRABAJO`\n   AND h.grupo_nombre  = de.`GRUPO`\n   AND (h.vigente_desde IS NULL OR h.vigente_desde <= f.d)\n   AND (h.vigente_hasta IS NULL OR f.d <= h.vigente_hasta)\n  WHERE de.ESTADO = 'ACTIVO'\n    AND CAST(de.CODIGO AS CHAR) = @codigo\n),\nhorario_dia AS (\n  SELECT\n    empleadoId,\n    fecha,\n    dia,\n    ROUND(\n      CASE \n        WHEN (m1 + m2 + m3) >= 1320 THEN GREATEST(m1, m2, m3) / 60\n        ELSE (m1 + m2 + m3) / 60\n      END\n    ,2) AS horas_horario_dia\n  FROM horario_dia_m\n),\n\n/* 2.1) FIESTAS */\nempleado_ccaa AS (\n  SELECT CAST(de.CODIGO AS CHAR) AS empleadoId, @ccaa_default AS ccaa\n  FROM DatosEmpleados de\n  WHERE de.ESTADO='ACTIVO' AND CAST(de.CODIGO AS CHAR)=@codigo\n),\nfiestas_dia AS (\n  SELECT \n    ec.empleadoId,\n    f.d AS fecha,\n    CASE \n      WHEN fi.active=1\n       AND DATE(COALESCE(fi.observed_date, fi.date)) = f.d\n       AND (\n            LOWER(fi.scope) IN ('nacional','national')\n         OR (LOWER(fi.scope) IN ('autonómico','autonomico','ccaa') AND fi.ccaa_code = ec.ccaa)\n       )\n      THEN 1 ELSE 0\n    END AS es_fiesta\n  FROM empleado_ccaa ec\n  JOIN fechas f\n  LEFT JOIN fiestas fi\n    ON DATE(COALESCE(fi.observed_date, fi.date)) = f.d\n),\n\n/* 2.2) BAJAS (MutuaCasos) */\nbajas_intervalos AS (\n  SELECT\n    TRIM(CAST(mc.Codigo_Empleado AS CHAR)) AS empleadoId,\n    COALESCE(\n      CASE \n        WHEN NULLIF(mc.`Fecha baja`, '') IS NULL THEN NULL\n        WHEN mc.`Fecha baja` REGEXP '^[0-9]{4}-[0-9]{2}-[0-9]{2}$' THEN DATE(mc.`Fecha baja`)\n        WHEN mc.`Fecha baja` LIKE '__/__/____' THEN STR_TO_DATE(mc.`Fecha baja`, '%d/%m/%Y')\n        ELSE NULL\n      END\n    ) AS d_ini,\n    COALESCE(\n      CASE \n        WHEN NULLIF(mc.`Fecha de alta`, '') IS NULL THEN NULL\n        WHEN mc.`Fecha de alta` REGEXP '^[0-9]{4}-[0-9]{2}-[0-9]{2}$' THEN DATE(mc.`Fecha de alta`)\n        WHEN mc.`Fecha de alta` LIKE '__/__/____' THEN STR_TO_DATE(mc.`Fecha de alta`, '%d/%m/%Y')\n        ELSE NULL\n      END,\n      @d_last\n    ) AS d_fin\n  FROM MutuaCasos mc\n  WHERE TRIM(CAST(mc.Codigo_Empleado AS CHAR)) = @codigo\n),\nbajas_dia AS (\n  SELECT \n    bi.empleadoId,\n    f.d AS fecha,\n    CASE WHEN f.d BETWEEN bi.d_ini AND bi.d_fin THEN 1 ELSE 0 END AS es_baja\n  FROM bajas_intervalos bi\n  JOIN fechas f\n  WHERE bi.d_ini IS NOT NULL\n    AND bi.d_ini <= @d_last\n    AND bi.d_fin >= @d_first\n),\n\n/* 2.3) AUSENCIAS — parser robust pentru FECHA:\n   - suportă: 'YYYY-MM-D', 'YYYY-MM-DD', 'YYYY-MM-D - YYYY-MM-D', 'YYYY-MM-D- YYYY-MM-D'\n   - normalizează prin împărțire la PRIMUL spațiu (dacă există),\n     taie '-' de la capete și încearcă %Y-%m-%d și %Y-%m-%e (zi cu 1 cifră).\n*/\naus_raw AS (\n  SELECT \n    a.`CODIGO` AS empleadoId,\n    TRIM(a.`TIPO`)   AS tipo,\n    TRIM(REPLACE(REPLACE(a.`FECHA`,'–','-'),'—','-')) AS fecha_txt\n  FROM Ausencias a\n  WHERE a.`CODIGO` = @codigo\n),\naus_parts AS (\n  SELECT\n    empleadoId,\n    tipo,\n    -- dacă avem cel puțin un spațiu, îl folosim ca separator între cele două date\n    CASE \n      WHEN fecha_txt LIKE '% %' \n        THEN TRIM(TRAILING '-' FROM SUBSTRING_INDEX(fecha_txt,' ',1))\n      ELSE fecha_txt\n    END AS start_raw,\n    CASE \n      WHEN fecha_txt LIKE '% %' \n        THEN TRIM(LEADING '-' FROM SUBSTRING_INDEX(fecha_txt,' ',-1))\n      ELSE fecha_txt\n    END AS end_raw\n  FROM aus_raw\n),\naus_norm AS (\n  SELECT\n    empleadoId,\n    tipo,\n    -- încearcă întâi YYYY-MM-DD, apoi YYYY-MM-D (zi cu o cifră)\n    COALESCE(\n      STR_TO_DATE(start_raw, '%Y-%m-%d'),\n      STR_TO_DATE(start_raw, '%Y-%m-%e')\n    ) AS d_start,\n    COALESCE(\n      STR_TO_DATE(end_raw, '%Y-%m-%d'),\n      STR_TO_DATE(end_raw, '%Y-%m-%e')\n    ) AS d_end\n  FROM aus_parts\n),\naus_dia AS (\n  SELECT \n    f.d AS fecha,\n    MAX(CASE WHEN UPPER(n.tipo)='VACACIONES' THEN 1 ELSE 0 END) AS es_vacaciones,\n    MAX(CASE WHEN UPPER(n.tipo)<>'VACACIONES' THEN 1 ELSE 0 END) AS es_ausencia\n  FROM fechas f\n  JOIN aus_norm n\n    ON n.d_start IS NOT NULL \n   AND n.d_end   IS NOT NULL\n   AND f.d BETWEEN n.d_start AND n.d_end\n  GROUP BY f.d\n),\n\n/* 2.4) FLAG TrabajaFestivos */\nempleado_flags AS (\n  SELECT \n    CAST(de.CODIGO AS CHAR) AS empleadoId,\n    CASE \n      WHEN LOWER(TRIM(de.TrabajaFestivos)) IN ('si','sí','s','1','true','da','y') THEN 1\n      ELSE 0\n    END AS trabaja_festivos\n  FROM DatosEmpleados de\n  WHERE de.ESTADO='ACTIVO' AND CAST(de.CODIGO AS CHAR)=@codigo\n),\n\n/* 3) DAILY PLAN: prioritate\n   BAJA → VACACIONES → (FIESTA dacă nu lucrează) → AUSENCIA → CUADRANTE → HORARIO → 0\n*/\nempleado_fechas AS (\n  SELECT CAST(de.CODIGO AS CHAR) AS empleadoId, f.d AS fecha, DAY(f.d) AS dia\n  FROM DatosEmpleados de\n  JOIN fechas f\n  WHERE de.ESTADO='ACTIVO' AND CAST(de.CODIGO AS CHAR)=@codigo\n),\ndaily_plan AS (\n  SELECT\n    ef.empleadoId,\n    ef.fecha,\n    ef.dia,\n    CASE\n      WHEN bj.es_baja = 1 THEN 0\n      WHEN COALESCE(au.es_vacaciones,0) = 1 THEN 0\n      WHEN fd2.es_fiesta = 1 AND COALESCE(tf.trabaja_festivos,0) = 0 THEN 0\n      WHEN COALESCE(au.es_ausencia,0) = 1 THEN 0\n      WHEN pc.horas_plan IS NOT NULL THEN pc.horas_plan\n      WHEN hd.horas_horario_dia IS NOT NULL THEN hd.horas_horario_dia\n      ELSE 0\n    END AS horas_plan,\n    CASE\n      WHEN bj.es_baja = 1 THEN 'baja_medica'\n      WHEN COALESCE(au.es_vacaciones,0) = 1 THEN 'vacaciones'\n      WHEN fd2.es_fiesta = 1 AND COALESCE(tf.trabaja_festivos,0) = 0 THEN 'fiesta'\n      WHEN COALESCE(au.es_ausencia,0) = 1 THEN 'ausencia'\n      WHEN pc.horas_plan IS NOT NULL THEN 'cuadrante'\n      WHEN hd.horas_horario_dia IS NOT NULL AND hd.horas_horario_dia > 0 THEN 'horario'\n      ELSE 'none'\n    END AS plan_fuente,\n    COALESCE(au.es_vacaciones,0) AS es_vacaciones,\n    CASE WHEN COALESCE(au.es_vacaciones,0)=0 THEN COALESCE(au.es_ausencia,0) ELSE 0 END AS es_ausencia,\n    COALESCE(fd2.es_fiesta,0)   AS es_fiesta,\n    COALESCE(bj.es_baja,0)      AS es_baja\n  FROM empleado_fechas ef\n  LEFT JOIN plan_cuadrante pc\n    ON pc.empleadoId = ef.empleadoId AND pc.fecha = ef.fecha\n  LEFT JOIN horario_dia hd\n    ON hd.empleadoId = ef.empleadoId AND hd.fecha = ef.fecha\n  LEFT JOIN bajas_dia bj\n    ON bj.empleadoId = ef.empleadoId AND bj.fecha = ef.fecha\n  LEFT JOIN fiestas_dia fd2\n    ON fd2.empleadoId = ef.empleadoId AND fd2.fecha = ef.fecha\n  LEFT JOIN aus_dia au\n    ON au.fecha = ef.fecha\n  LEFT JOIN empleado_flags tf\n    ON tf.empleadoId = ef.empleadoId\n),\n\n/* 4) FICHAJES din DURACION (sumă pe zi) */\nfichaje_base AS (\n  SELECT\n    CAST(f.CODIGO AS CHAR) AS empleadoId,\n    DATE(f.FECHA)          AS fecha,\n    f.DURACION             AS duracion\n  FROM Fichaje f\n  WHERE CAST(f.CODIGO AS CHAR) = @codigo\n    AND DATE(f.FECHA) >= @d_first\n    AND DATE(f.FECHA) <  DATE_ADD(@d_last, INTERVAL 1 DAY)\n),\nfichaje_has_events AS (\n  SELECT empleadoId, fecha, COUNT(*) AS cnt_events\n  FROM fichaje_base\n  GROUP BY empleadoId, fecha\n),\nfichaje_with_duration AS (\n  SELECT empleadoId, fecha, TIME_TO_SEC(duracion) AS dur_secs\n  FROM fichaje_base\n  WHERE duracion IS NOT NULL AND TRIM(duracion) <> '' AND duracion <> '00:00:00'\n),\nfichaje_dia AS (\n  SELECT\n    he.empleadoId,\n    he.fecha,\n    ROUND(COALESCE(SUM(fd.dur_secs),0)/3600,2) AS horas_fichadas,\n    CASE WHEN he.cnt_events > 0 AND COALESCE(SUM(fd.dur_secs),0) = 0 THEN 1 ELSE 0 END AS fichaje_incompleto\n  FROM fichaje_has_events he\n  LEFT JOIN fichaje_with_duration fd\n    ON fd.empleadoId = he.empleadoId AND fd.fecha = he.fecha\n  GROUP BY he.empleadoId, he.fecha, he.cnt_events\n),\n\n/* 5) JSON detalii zilnice (include plan_fuente) */\ncombined_json AS (\n  SELECT\n    dp.empleadoId,\n    CONCAT(\n      '[',\n      GROUP_CONCAT(\n        CONCAT(\n          '{\"fecha\":\"', DATE_FORMAT(dp.fecha, '%Y-%m-%d'),\n          '\",\"plan\":', CAST(ROUND(dp.horas_plan,2) AS CHAR),\n          ',\"plan_fuente\":\"', dp.plan_fuente, '\"',\n          ',\"fichado\":', CAST(ROUND(COALESCE(fd.horas_fichadas,0),2) AS CHAR),\n          ',\"delta\":',   CAST(ROUND(COALESCE(fd.horas_fichadas,0) - dp.horas_plan,2) AS CHAR),\n          ',\"incompleto\":', COALESCE(fd.fichaje_incompleto,0),\n          '}'\n        )\n        ORDER BY dp.fecha\n        SEPARATOR ','\n      ),\n      ']'\n    ) AS detalii_zilnice\n  FROM daily_plan dp\n  LEFT JOIN fichaje_dia fd\n    ON fd.empleadoId = dp.empleadoId AND fd.fecha = dp.fecha\n  GROUP BY dp.empleadoId\n),\n\n/* 6) SUMARE anuale (plan, fichat, contract, permise) + număr zile pe tip */\nsumar_plan_an AS (\n  SELECT empleadoId, ROUND(SUM(horas_plan),2) AS horas_plan_an\n  FROM daily_plan\n  GROUP BY empleadoId\n),\nsumar_fich_an AS (\n  SELECT empleadoId, ROUND(SUM(horas_fichadas),2) AS horas_fich_an\n  FROM fichaje_dia\n  GROUP BY empleadoId\n),\nsumar_contrato_an AS (\n  SELECT\n    CAST(de.CODIGO AS CHAR) AS empleadoId,\n    ROUND(COALESCE(de.`HORAS DE CONTRATO`,0) * (\n      SELECT SUM(DAY(m_last)/7.0) FROM meses_bounds\n    ), 2) AS horas_contrato_an\n  FROM DatosEmpleados de\n  WHERE de.ESTADO='ACTIVO' AND CAST(de.CODIGO AS CHAR)=@codigo\n),\nsumar_permitidas_an AS (\n  SELECT\n    CAST(de.CODIGO AS CHAR) AS empleadoId,\n    ROUND(COALESCE(hp.`Horas Mensuales`,0) * 12, 2) AS horas_permitidas_an\n  FROM DatosEmpleados de\n  LEFT JOIN horaspermitidas hp ON hp.GRUPO = de.GRUPO\n  WHERE de.ESTADO='ACTIVO' AND CAST(de.CODIGO AS CHAR)=@codigo\n),\nsumar_flags_zile AS (\n  SELECT \n    empleadoId,\n    SUM(CASE WHEN es_baja=1 THEN 1 ELSE 0 END)        AS dias_baja,\n    SUM(CASE WHEN es_vacaciones=1 THEN 1 ELSE 0 END)  AS dias_vacaciones,\n    SUM(CASE WHEN es_ausencia=1 THEN 1 ELSE 0 END)    AS dias_ausencia,\n    SUM(CASE WHEN es_fiesta=1 THEN 1 ELSE 0 END)      AS dias_fiesta\n  FROM daily_plan\n  GROUP BY empleadoId\n),\ncentro_cuadrante_an AS (\n  SELECT empleadoId, MAX(centro_cuadrante) AS centro_cuadrante\n  FROM cuadrante_unpivot\n  GROUP BY empleadoId\n)\n\n/* 7) FINAL — 1 angajat, cu tot ce trebuie + detalii_zilnice */\nSELECT\n  de.CODIGO                               AS empleadoId,\n  de.`NOMBRE / APELLIDOS`                 AS empleadoNombre,\n  de.GRUPO                                AS grupo,\n  de.`CENTRO TRABAJO`                     AS centro_trabajo,\n  de.`TIPO DE CONTRATO`                   AS tipo_contrato,\n  ROUND(COALESCE(de.`HORAS DE CONTRATO`,0),2) AS horas_contrato,\n\n  COALESCE(cc.centro_cuadrante, de.`CENTRO TRABAJO`) AS centro_cuadrante,\n\n  COALESCE(spa.horas_plan_an, 0)          AS horas_plan_an,\n  COALESCE(sfa.horas_fich_an, 0)          AS horas_fich_an,\n  COALESCE(sca.horas_contrato_an, 0)      AS horas_contrato_an,\n  COALESCE(spe.horas_permitidas_an, 0)    AS horas_permitidas_an,\n\n  ROUND(COALESCE(spa.horas_plan_an,0) - COALESCE(sca.horas_contrato_an,0), 2) AS dif_vs_contrato_an,\n  ROUND(COALESCE(spa.horas_plan_an,0) - COALESCE(spe.horas_permitidas_an,0), 2) AS dif_vs_permitidas_an,\n\n  COALESCE(sfz.dias_baja,0)        AS dias_baja,\n  COALESCE(sfz.dias_vacaciones,0)  AS dias_vacaciones,\n  COALESCE(sfz.dias_ausencia,0)    AS dias_ausencia,\n  COALESCE(sfz.dias_fiesta,0)      AS dias_fiesta,\n\n  COALESCE(cj.detalii_zilnice, '[]')      AS detalii_zilnice\n\nFROM DatosEmpleados de\nLEFT JOIN centro_cuadrante_an cc ON cc.empleadoId = CAST(de.CODIGO AS CHAR)\nLEFT JOIN sumar_plan_an spa       ON spa.empleadoId = CAST(de.CODIGO AS CHAR)\nLEFT JOIN sumar_fich_an sfa       ON sfa.empleadoId = CAST(de.CODIGO AS CHAR)\nLEFT JOIN sumar_contrato_an sca   ON sca.empleadoId = CAST(de.CODIGO AS CHAR)\nLEFT JOIN sumar_permitidas_an spe ON spe.empleadoId = CAST(de.CODIGO AS CHAR)\nLEFT JOIN sumar_flags_zile sfz    ON sfz.empleadoId = CAST(de.CODIGO AS CHAR)\nLEFT JOIN combined_json cj        ON cj.empleadoId = CAST(de.CODIGO AS CHAR)\nWHERE de.ESTADO='ACTIVO'\n  AND CAST(de.CODIGO AS CHAR) = @codigo\nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        592,
        384
      ],
      "id": "84202c75-e15e-4277-bb72-1b07c07d3cab",
      "name": "Execute a SQL query",
      "credentials": {
        "mySql": {
          "id": "47tEcFVMWEV6ljvQ",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ===== helpers =====\nfunction toNum(x, def = 0) {\n  if (x === null || x === undefined) return def;\n  const n = typeof x === 'number' ? x : parseFloat(String(x).replace(',', '.'));\n  return isNaN(n) ? def : n;\n}\n\nfunction todayMadridParts() {\n  const fmt = new Intl.DateTimeFormat('ro-RO', {\n    timeZone: 'Europe/Madrid',\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit',\n  });\n  const parts = fmt.formatToParts(new Date())\n    .reduce((a, p) => { if (p.type !== 'literal') a[p.type] = p.value; return a; }, {});\n  return { y: +parts.year, m: +parts.month, d: +parts.day };\n}\n\nfunction yyyymmdd(y, m, d) {\n  return `${y}-${String(m).padStart(2, '0')}-${String(d).padStart(2, '0')}`;\n}\n\nfunction isYYYYMMDD(s) {\n  return typeof s === 'string' && /^\\d{4}-\\d{2}-\\d{2}$/.test(s);\n}\n\n// ===== MAIN =====\nconst EPS = 0.25; // toleranță\n\nconst out = [];\n\nfor (const item of items) {\n  const emp = { ...(item.json || {}) };\n\n  // Parse detalii_zilnice (array de obiecte cu: fecha, plan, plan_fuente, fichado, delta, incompleto)\n  let zileAll = [];\n  try { zileAll = JSON.parse(emp.detalii_zilnice || '[]'); } catch { zileAll = []; }\n  if (!Array.isArray(zileAll)) zileAll = [];\n\n  // Normalizează numeric plan/fichado & adaugă ordinarias/excedente per zi\n  let totalTrab = 0;\n  let excedenteZilnic = 0;\n\n  const daily = zileAll.map((z) => {\n    const plan = toNum(z.plan, 0);\n    const trab = toNum(z.fichado, 0);\n    totalTrab += trab;\n\n    let ord = 0, exc = 0;\n    if (trab <= plan) { ord = trab; }\n    else { ord = plan; exc = trab - plan; }\n\n    excedenteZilnic += exc;\n\n    return {\n      ...z,\n      plan: +plan.toFixed(2),\n      fichado: +trab.toFixed(2),\n      ordinarias: +ord.toFixed(2),\n      excedente: +exc.toFixed(2),\n      incompleto: Number(z.incompleto || 0),\n    };\n  });\n\n  // TOTALURI din SQL (plan/contract/permise) — dar le recalculăm sigur și din daily unde are sens\n  const totalPlanFromDaily = daily.reduce((a, d) => a + toNum(d.plan, 0), 0);\n  const totalPlanSQL       = toNum(emp.horas_plan_an, totalPlanFromDaily);\n  const totalPlanAnual     = totalPlanSQL || totalPlanFromDaily; // păstrează prioritatea SQL, ca la tine\n  const totalPermitidas    = toNum(emp.horas_permitidas_an, 0);\n  const totalContrato      = toNum(emp.horas_contrato_an, 0);\n\n  // CLASIFICARE anuală (similar logicii tale pe lună)\n  // - Dacă are contract:\n  //   * part-time → complementarias până la (contrato - plan), restul extraordinarias\n  //   * full-time → extraordinarias peste totalContrato\n  // - Fără contract:\n  //   * dacă avem permise → extraordinarias peste permise\n  //   * altfel → tot surplusul zilnic (excedenteZilnic)\n  const tipoContrato = (emp.tipo_contrato || '').toLowerCase();\n  const esPartTime = tipoContrato.includes('parc');\n\n  let totalCompl = 0;\n  let totalExtra = 0;\n\n  if (totalContrato > 0) {\n    if (esPartTime) {\n      const maxCompl = Math.max(0, totalContrato - totalPlanAnual);\n      totalCompl = Math.min(excedenteZilnic, maxCompl);\n      totalExtra = Math.max(0, excedenteZilnic - maxCompl);\n    } else {\n      totalCompl = 0;\n      totalExtra = Math.max(0, totalTrab - totalContrato);\n    }\n  } else {\n    if (totalPermitidas > 0) {\n      totalCompl = 0;\n      totalExtra = Math.max(0, totalTrab - totalPermitidas);\n    } else {\n      totalCompl = 0;\n      totalExtra = Math.max(0, excedenteZilnic);\n    }\n  }\n\n  const totalOrdin = totalTrab - totalCompl - totalExtra;\n\n  // DIFERENȚE & STĂRI (anuale)\n  const diffPlanAnual       = totalTrab - totalPlanAnual;\n  const diffPermitidasAnual = totalTrab - totalPermitidas;\n  const estadoPlanAnual     = (diffPlanAnual > EPS) ? 'SOBREPASADO' : 'OK';\n  const estadoPermAnual     = (totalPermitidas > 0 && diffPermitidasAnual > EPS) ? 'EXCESO' : 'OK';\n\n  // Opțional: până azi dacă anul curent\n  const today = todayMadridParts();\n  const isAnulCurent = String(emp.ano || emp.year || '').trim() === String(today.y);\n  let dailyHastaHoy = daily;\n  if (isAnulCurent) {\n    const cutoff = yyyymmdd(today.y, today.m, today.d);\n    dailyHastaHoy = daily.filter(d => isYYYYMMDD(d.fecha) ? d.fecha <= cutoff : true);\n  }\n\n  const planHastaHoy = dailyHastaHoy.reduce((a, z) => a + toNum(z.plan, 0), 0);\n  const trabHastaHoy = dailyHastaHoy.reduce((a, z) => a + toNum(z.fichado, 0), 0);\n  const diffPlanHastaHoy = trabHastaHoy - planHastaHoy;\n  const estadoPlanHastaHoy = (diffPlanHastaHoy > EPS) ? 'SOBREPASADO' : 'OK';\n\n  // Copiem și contorii de zile dacă vin din SQL (altfel 0)\n  const dias_baja        = toNum(emp.dias_baja, 0);\n  const dias_vacaciones  = toNum(emp.dias_vacaciones, 0);\n  const dias_ausencia    = toNum(emp.dias_ausencia, 0);\n  const dias_fiesta      = toNum(emp.dias_fiesta, 0);\n\n  // OUTPUT normalizat\n  const outEmp = {\n    ...emp,\n\n    // rezumat anual\n    total_trabajadas_anual:        +totalTrab.toFixed(2),\n    total_plan_anual:              +totalPlanAnual.toFixed(2),\n    total_permitidas_anual:        +totalPermitidas.toFixed(2),\n    total_contrato_anual:          +totalContrato.toFixed(2),\n\n    total_ordinarias_anual:        +totalOrdin.toFixed(2),\n    total_complementarias_anual:   +totalCompl.toFixed(2),\n    total_extraordinarias_anual:   +totalExtra.toFixed(2),\n\n    diff_plan_anual:               +diffPlanAnual.toFixed(2),\n    diff_permitidas_anual:         +diffPermitidasAnual.toFixed(2),\n    estado_plan_anual:             estadoPlanAnual,\n    estado_permitidas_anual:       estadoPermAnual,\n\n    // până azi (doar dacă anul curent; altfel e tot anul)\n    plan_hasta_hoy_anual:          +planHastaHoy.toFixed(2),\n    trabajadas_hasta_hoy_anual:    +trabHastaHoy.toFixed(2),\n    diff_plan_hasta_hoy_anual:     +diffPlanHastaHoy.toFixed(2),\n    estado_plan_hasta_hoy_anual:   estadoPlanHastaHoy,\n\n    // contori de zile (din SQL)\n    dias_baja,\n    dias_vacaciones,\n    dias_ausencia,\n    dias_fiesta,\n\n    // detaliile zilnice normalizate (cu ordinarias/excedente)\n    detalii_zilnice: daily,\n  };\n\n  out.push({ json: outEmp });\n}\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        384
      ],
      "id": "0ce9d07b-7621-422f-b90e-1e4e66dbefbb",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        992,
        384
      ],
      "id": "48ac0a0f-f811-478e-ab65-f41fde4ca987",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "/* =========================\n   Parametri lună selectată\n   ========================= */\nSET @lunaselectata = '{{ $json.query.lunaselectata }}';  -- ex: '2025-11'\nSET @ccaa_default  = 'ES-MD';                             -- CCAA implicită (dacă nu ai mapare pe centre)\nSET @d_first := STR_TO_DATE(CONCAT(@lunaselectata,'-01'), '%Y-%m-%d');\nSET @d_last  := LAST_DAY(@d_first);\n\nWITH RECURSIVE fechas AS (\n  SELECT @d_first AS d\n  UNION ALL\n  SELECT DATE_ADD(d, INTERVAL 1 DAY) FROM fechas WHERE d < @d_last\n),\n\n/* ============================================================\n   1) CUADRANTE (unpivot) + SUMAR\n   ============================================================ */\ncuadrante_unpivot AS (\n  SELECT CAST(cq.CODIGO AS CHAR) AS empleadoId, 1  AS dia, cq.CENTRO AS centro_cuadrante, cq.ZI_1  AS val FROM cuadrante cq WHERE cq.LUNA=@lunaselectata\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR), 2 , cq.CENTRO, cq.ZI_2  FROM cuadrante cq WHERE cq.LUNA=@lunaselectata\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR), 3 , cq.CENTRO, cq.ZI_3  FROM cuadrante cq WHERE cq.LUNA=@lunaselectata\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR), 4 , cq.CENTRO, cq.ZI_4  FROM cuadrante cq WHERE cq.LUNA=@lunaselectata\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR), 5 , cq.CENTRO, cq.ZI_5  FROM cuadrante cq WHERE cq.LUNA=@lunaselectata\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR), 6 , cq.CENTRO, cq.ZI_6  FROM cuadrante cq WHERE cq.LUNA=@lunaselectata\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR), 7 , cq.CENTRO, cq.ZI_7  FROM cuadrante cq WHERE cq.LUNA=@lunaselectata\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR), 8 , cq.CENTRO, cq.ZI_8  FROM cuadrante cq WHERE cq.LUNA=@lunaselectata\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR), 9 , cq.CENTRO, cq.ZI_9  FROM cuadrante cq WHERE cq.LUNA=@lunaselectata\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR),10 , cq.CENTRO, cq.ZI_10 FROM cuadrante cq WHERE cq.LUNA=@lunaselectata\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR),11 , cq.CENTRO, cq.ZI_11 FROM cuadrante cq WHERE cq.LUNA=@lunaselectata\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR),12 , cq.CENTRO, cq.ZI_12 FROM cuadrante cq WHERE cq.LUNA=@lunaselectata\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR),13 , cq.CENTRO, cq.ZI_13 FROM cuadrante cq WHERE cq.LUNA=@lunaselectata\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR),14 , cq.CENTRO, cq.ZI_14 FROM cuadrante cq WHERE cq.LUNA=@lunaselectata\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR),15 , cq.CENTRO, cq.ZI_15 FROM cuadrante cq WHERE cq.LUNA=@lunaselectata\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR),16 , cq.CENTRO, cq.ZI_16 FROM cuadrante cq WHERE cq.LUNA=@lunaselectata\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR),17 , cq.CENTRO, cq.ZI_17 FROM cuadrante cq WHERE cq.LUNA=@lunaselectata\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR),18 , cq.CENTRO, cq.ZI_18 FROM cuadrante cq WHERE cq.LUNA=@lunaselectata\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR),19 , cq.CENTRO, cq.ZI_19 FROM cuadrante cq WHERE cq.LUNA=@lunaselectata\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR),20 , cq.CENTRO, cq.ZI_20 FROM cuadrante cq WHERE cq.LUNA=@lunaselectata\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR),21 , cq.CENTRO, cq.ZI_21 FROM cuadrante cq WHERE cq.LUNA=@lunaselectata\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR),22 , cq.CENTRO, cq.ZI_22 FROM cuadrante cq WHERE cq.LUNA=@lunaselectata\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR),23 , cq.CENTRO, cq.ZI_23 FROM cuadrante cq WHERE cq.LUNA=@lunaselectata\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR),24 , cq.CENTRO, cq.ZI_24 FROM cuadrante cq WHERE cq.LUNA=@lunaselectata\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR),25 , cq.CENTRO, cq.ZI_25 FROM cuadrante cq WHERE cq.LUNA=@lunaselectata\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR),26 , cq.CENTRO, cq.ZI_26 FROM cuadrante cq WHERE cq.LUNA=@lunaselectata\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR),27 , cq.CENTRO, cq.ZI_27 FROM cuadrante cq WHERE cq.LUNA=@lunaselectata\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR),28 , cq.CENTRO, cq.ZI_28 FROM cuadrante cq WHERE cq.LUNA=@lunaselectata\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR),29 , cq.CENTRO, cq.ZI_29 FROM cuadrante cq WHERE cq.LUNA=@lunaselectata\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR),30 , cq.CENTRO, cq.ZI_30 FROM cuadrante cq WHERE cq.LUNA=@lunaselectata\n  UNION ALL SELECT CAST(cq.CODIGO AS CHAR),31 , cq.CENTRO, cq.ZI_31 FROM cuadrante cq WHERE cq.LUNA=@lunaselectata\n),\n\ncuadrante_sum AS (\n  SELECT\n    empleadoId,\n    MAX(centro_cuadrante) AS centro_cuadrante,\n    ROUND(SUM(\n      CASE \n        WHEN UPPER(TRIM(val)) IN ('LIB','LIBRE','L','DESCANSO','FESTIVO','VAC','VACACIONES','BAJA','X') THEN 0\n        WHEN TRIM(val) LIKE '%:%-%:%' THEN (((TIME_TO_SEC(STR_TO_DATE(SUBSTRING_INDEX(SUBSTRING_INDEX(SUBSTRING_INDEX(TRIM(val),' ',-1),'-',-1),' ',1), '%H:%i'))\n                                            - TIME_TO_SEC(STR_TO_DATE(SUBSTRING_INDEX(SUBSTRING_INDEX(SUBSTRING_INDEX(TRIM(val),' ',-1),'-', 1),' ',1), '%H:%i'))\n                                            + 86400) % 86400) / 3600)\n        ELSE 0\n      END\n    ),2) AS horas_cuadrante_mes\n  FROM cuadrante_unpivot\n  GROUP BY empleadoId\n),\n\ncuadrante_dia AS (\n  SELECT\n    cu.empleadoId,\n    DATE_ADD(@d_first, INTERVAL (cu.dia - 1) DAY) AS fecha,\n    cu.dia,\n    CASE WHEN cu.val IS NOT NULL AND TRIM(cu.val) <> '' THEN 1 ELSE 0 END AS tiene_cuadrante,\n    ROUND(\n      CASE \n        WHEN UPPER(TRIM(cu.val)) IN ('LIB','LIBRE','L','DESCANSO','FESTIVO','VAC','VACACIONES','BAJA','X') THEN 0\n        WHEN TRIM(cu.val) LIKE '%:%-%:%' THEN (((TIME_TO_SEC(STR_TO_DATE(SUBSTRING_INDEX(SUBSTRING_INDEX(SUBSTRING_INDEX(TRIM(cu.val),' ',-1),'-',-1),' ',1), '%H:%i'))\n                                               - TIME_TO_SEC(STR_TO_DATE(SUBSTRING_INDEX(SUBSTRING_INDEX(SUBSTRING_INDEX(TRIM(cu.val),' ',-1),'-', 1),' ',1), '%H:%i'))\n                                               + 86400) % 86400) / 3600)\n        ELSE 0\n      END\n    ,2) AS horas_cuadrante_dia\n  FROM cuadrante_unpivot cu\n),\n\n/* ============================================================\n   2) HORARIOS (m1+m2+m3 cu overnight-fix + CAP zilnic)\n   ============================================================ */\nhorario_dia_m AS (\n  SELECT\n    CAST(de.CODIGO AS CHAR) AS empleadoId,\n    f.d       AS fecha,\n    DAY(f.d)  AS dia,\n\n    CASE DAYOFWEEK(f.d)\n      WHEN 2 THEN COALESCE((TIMESTAMPDIFF(MINUTE, CONCAT(f.d,' ',h.lun_in1), CONCAT(f.d,' ',h.lun_out1)) + 1440) % 1440, 0)\n      WHEN 3 THEN COALESCE((TIMESTAMPDIFF(MINUTE, CONCAT(f.d,' ',h.mar_in1), CONCAT(f.d,' ',h.mar_out1)) + 1440) % 1440, 0)\n      WHEN 4 THEN COALESCE((TIMESTAMPDIFF(MINUTE, CONCAT(f.d,' ',h.mie_in1), CONCAT(f.d,' ',h.mie_out1)) + 1440) % 1440, 0)\n      WHEN 5 THEN COALESCE((TIMESTAMPDIFF(MINUTE, CONCAT(f.d,' ',h.joi_in1), CONCAT(f.d,' ',h.joi_out1)) + 1440) % 1440, 0)\n      WHEN 6 THEN COALESCE((TIMESTAMPDIFF(MINUTE, CONCAT(f.d,' ',h.vin_in1), CONCAT(f.d,' ',h.vin_out1)) + 1440) % 1440, 0)\n      WHEN 7 THEN COALESCE((TIMESTAMPDIFF(MINUTE, CONCAT(f.d,' ',h.sam_in1), CONCAT(f.d,' ',h.sam_out1)) + 1440) % 1440, 0)\n      WHEN 1 THEN COALESCE((TIMESTAMPDIFF(MINUTE, CONCAT(f.d,' ',h.dum_in1), CONCAT(f.d,' ',h.dum_out1)) + 1440) % 1440, 0)\n    END AS m1,\n    CASE DAYOFWEEK(f.d)\n      WHEN 2 THEN COALESCE((TIMESTAMPDIFF(MINUTE, CONCAT(f.d,' ',h.lun_in2), CONCAT(f.d,' ',h.lun_out2)) + 1440) % 1440, 0)\n      WHEN 3 THEN COALESCE((TIMESTAMPDIFF(MINUTE, CONCAT(f.d,' ',h.mar_in2), CONCAT(f.d,' ',h.mar_out2)) + 1440) % 1440, 0)\n      WHEN 4 THEN COALESCE((TIMESTAMPDIFF(MINUTE, CONCAT(f.d,' ',h.mie_in2), CONCAT(f.d,' ',h.mie_out2)) + 1440) % 1440, 0)\n      WHEN 5 THEN COALESCE((TIMESTAMPDIFF(MINUTE, CONCAT(f.d,' ',h.joi_in2), CONCAT(f.d,' ',h.joi_out2)) + 1440) % 1440, 0)\n      WHEN 6 THEN COALESCE((TIMESTAMPDIFF(MINUTE, CONCAT(f.d,' ',h.vin_in2), CONCAT(f.d,' ',h.vin_out2)) + 1440) % 1440, 0)\n      WHEN 7 THEN COALESCE((TIMESTAMPDIFF(MINUTE, CONCAT(f.d,' ',h.sam_in2), CONCAT(f.d,' ',h.sam_out2)) + 1440) % 1440, 0)\n      WHEN 1 THEN COALESCE((TIMESTAMPDIFF(MINUTE, CONCAT(f.d,' ',h.dum_in2), CONCAT(f.d,' ',h.dum_out2)) + 1440) % 1440, 0)\n    END AS m2,\n    CASE DAYOFWEEK(f.d)\n      WHEN 2 THEN COALESCE((TIMESTAMPDIFF(MINUTE, CONCAT(f.d,' ',h.lun_in3), CONCAT(f.d,' ',h.lun_out3)) + 1440) % 1440, 0)\n      WHEN 3 THEN COALESCE((TIMESTAMPDIFF(MINUTE, CONCAT(f.d,' ',h.mar_in3), CONCAT(f.d,' ',h.mar_out3)) + 1440) % 1440, 0)\n      WHEN 4 THEN COALESCE((TIMESTAMPDIFF(MINUTE, CONCAT(f.d,' ',h.mie_in3), CONCAT(f.d,' ',h.mie_out3)) + 1440) % 1440, 0)\n      WHEN 5 THEN COALESCE((TIMESTAMPDIFF(MINUTE, CONCAT(f.d,' ',h.joi_in3), CONCAT(f.d,' ',h.joi_out3)) + 1440) % 1440, 0)\n      WHEN 6 THEN COALESCE((TIMESTAMPDIFF(MINUTE, CONCAT(f.d,' ',h.vin_in3), CONCAT(f.d,' ',h.vin_out3)) + 1440) % 1440, 0)\n      WHEN 7 THEN COALESCE((TIMESTAMPDIFF(MINUTE, CONCAT(f.d,' ',h.sam_in3), CONCAT(f.d,' ',h.sam_out3)) + 1440) % 1440, 0)\n      WHEN 1 THEN COALESCE((TIMESTAMPDIFF(MINUTE, CONCAT(f.d,' ',h.dum_in3), CONCAT(f.d,' ',h.dum_out3)) + 1440) % 1440, 0)\n    END AS m3\n  FROM DatosEmpleados de\n  JOIN fechas f\n  LEFT JOIN horarios h\n    ON h.centro_nombre = de.`CENTRO TRABAJO`\n   AND h.grupo_nombre  = de.`GRUPO`\n   AND h.vigente_desde <= f.d\n   AND (h.vigente_hasta IS NULL OR f.d <= h.vigente_hasta)\n  WHERE de.ESTADO = 'ACTIVO'\n),\n\nhorario_dia AS (\n  SELECT\n    empleadoId,\n    fecha,\n    dia,\n    ROUND(\n      CASE \n        WHEN (m1 + m2 + m3) >= 1320 THEN GREATEST(m1, m2, m3) / 60\n        ELSE (m1 + m2 + m3) / 60\n      END\n    ,2) AS horas_horario_dia\n  FROM horario_dia_m\n),\n\nhorario_mes AS (\n  SELECT empleadoId, ROUND(SUM(horas_horario_dia),2) AS horas_horario_mes\n  FROM horario_dia\n  GROUP BY empleadoId\n),\n\n/* ============================================================\n   2.1) FIESTAS (național + CCAA implicită)\n   ============================================================ */\nempleado_ccaa AS (\n  SELECT CAST(de.CODIGO AS CHAR) AS empleadoId, @ccaa_default AS ccaa\n  FROM DatosEmpleados de\n  WHERE de.ESTADO='ACTIVO'\n),\nfiestas_dia AS (\n  SELECT \n    ec.empleadoId,\n    f.d AS fecha,\n    CASE \n      WHEN fi.active=1\n       AND DATE(COALESCE(fi.observed_date, fi.date)) = f.d\n       AND (\n            LOWER(fi.scope) IN ('nacional','national')\n         OR (LOWER(fi.scope) IN ('autonómico','autonomico','ccaa') AND fi.ccaa_code = ec.ccaa)\n       )\n      THEN 1 ELSE 0\n    END AS es_fiesta\n  FROM empleado_ccaa ec\n  JOIN fechas f\n  LEFT JOIN fiestas fi\n    ON DATE(COALESCE(fi.observed_date, fi.date)) = f.d\n),\n\n/* ============================================================\n   2.2) BAJAS (MutuaCasos) — ignori PREVISTA; dacă nu e ALTA → @d_last\n   ============================================================ */\nbajas_intervalos AS (\n  SELECT\n    TRIM(CAST(mc.Codigo_Empleado AS CHAR)) AS empleadoId,\n    COALESCE(\n      CASE \n        WHEN NULLIF(mc.`Fecha baja`, '') IS NULL THEN NULL\n        WHEN mc.`Fecha baja` REGEXP '^[0-9]{4}-[0-9]{2}-[0-9]{2}$' THEN DATE(mc.`Fecha baja`)\n        WHEN mc.`Fecha baja` LIKE '__/__/____' THEN STR_TO_DATE(mc.`Fecha baja`, '%d/%m/%Y')\n        ELSE NULL\n      END\n    ) AS d_ini,\n    COALESCE(\n      CASE \n        WHEN NULLIF(mc.`Fecha de alta`, '') IS NULL THEN NULL\n        WHEN mc.`Fecha de alta` REGEXP '^[0-9]{4}-[0-9]{2}-[0-9]{2}$' THEN DATE(mc.`Fecha de alta`)\n        WHEN mc.`Fecha de alta` LIKE '__/__/____' THEN STR_TO_DATE(mc.`Fecha de alta`, '%d/%m/%Y')\n        ELSE NULL\n      END,\n      @d_last\n    ) AS d_fin\n  FROM MutuaCasos mc\n),\nbajas_dia AS (\n  SELECT \n    bi.empleadoId,\n    f.d AS fecha,\n    CASE WHEN f.d BETWEEN bi.d_ini AND bi.d_fin THEN 1 ELSE 0 END AS es_baja\n  FROM bajas_intervalos bi\n  JOIN fechas f\n  WHERE bi.d_ini IS NOT NULL\n    AND bi.d_ini <= @d_last\n    AND bi.d_fin >= @d_first\n),\n\n/* ============================================================\n   2.3) AUSENCIAS — parser robust (toți angajații)\n   ============================================================ */\naus_raw AS (\n  SELECT \n    CAST(a.`CODIGO` AS CHAR) AS empleadoId,\n    TRIM(a.`TIPO`)   AS tipo,\n    TRIM(REPLACE(REPLACE(a.`FECHA`,'–','-'),'—','-')) AS fecha_txt\n  FROM Ausencias a\n),\naus_parts AS (\n  SELECT\n    empleadoId,\n    tipo,\n    CASE \n      WHEN fecha_txt LIKE '% %' \n        THEN TRIM(TRAILING '-' FROM SUBSTRING_INDEX(fecha_txt,' ',1))\n      ELSE fecha_txt\n    END AS start_raw,\n    CASE \n      WHEN fecha_txt LIKE '% %' \n        THEN TRIM(LEADING '-' FROM SUBSTRING_INDEX(fecha_txt,' ',-1))\n      ELSE fecha_txt\n    END AS end_raw\n  FROM aus_raw\n),\naus_norm AS (\n  SELECT\n    empleadoId,\n    tipo,\n    COALESCE(STR_TO_DATE(start_raw, '%Y-%m-%d'), STR_TO_DATE(start_raw, '%Y-%m-%e')) AS d_start,\n    COALESCE(STR_TO_DATE(end_raw,   '%Y-%m-%d'), STR_TO_DATE(end_raw,   '%Y-%m-%e')) AS d_end\n  FROM aus_parts\n),\naus_dia AS (\n  SELECT \n    f.d AS fecha,\n    n.empleadoId,\n    MAX(CASE WHEN UPPER(n.tipo)='VACACIONES' THEN 1 ELSE 0 END) AS es_vacaciones,\n    MAX(CASE WHEN UPPER(n.tipo)<> 'VACACIONES' THEN 1 ELSE 0 END) AS es_ausencia\n  FROM fechas f\n  JOIN aus_norm n\n    ON n.d_start IS NOT NULL \n   AND n.d_end   IS NOT NULL\n   AND f.d BETWEEN n.d_start AND n.d_end\n  GROUP BY f.d, n.empleadoId\n),\n\n/* ============================================================\n   2.4) FLAG TrabajaFestivos (DatosEmpleados)\n   ============================================================ */\nempleado_flags AS (\n  SELECT \n    CAST(de.CODIGO AS CHAR) AS empleadoId,\n    CASE \n      WHEN LOWER(TRIM(de.TrabajaFestivos)) IN ('si','sí','s','1','true','da','y') THEN 1\n      ELSE 0\n    END AS trabaja_festivos\n  FROM DatosEmpleados de\n  WHERE de.ESTADO='ACTIVO'\n),\n\n/* ============================================================\n   3) DAILY PLAN – prioritate: BAJA → VACACIONES → (FIESTA dacă nu lucrează) → AUSENCIA → CUADRANTE → HORARIO → 0\n   ============================================================ */\nempleado_fechas AS (\n  SELECT CAST(de.CODIGO AS CHAR) AS empleadoId, f.d AS fecha, DAY(f.d) AS dia\n  FROM DatosEmpleados de\n  JOIN fechas f\n  WHERE de.ESTADO='ACTIVO'\n),\n\ndaily_plan AS (\n  SELECT\n    ef.empleadoId,\n    ef.fecha,\n    ef.dia,\n    CASE\n      WHEN bj.es_baja = 1 THEN 0\n      WHEN COALESCE(au.es_vacaciones,0) = 1 THEN 0\n      WHEN fd2.es_fiesta = 1 AND COALESCE(tf.trabaja_festivos,0) = 0 THEN 0\n      WHEN COALESCE(au.es_ausencia,0) = 1 THEN 0\n      WHEN cd.tiene_cuadrante = 1 THEN cd.horas_cuadrante_dia\n      WHEN hd.horas_horario_dia IS NOT NULL THEN hd.horas_horario_dia\n      ELSE 0\n    END AS horas_plan,\n    CASE\n      WHEN bj.es_baja = 1 THEN 'baja_medica'\n      WHEN COALESCE(au.es_vacaciones,0) = 1 THEN 'vacaciones'\n      WHEN fd2.es_fiesta = 1 AND COALESCE(tf.trabaja_festivos,0) = 0 THEN 'fiesta'\n      WHEN COALESCE(au.es_ausencia,0) = 1 THEN 'ausencia'\n      WHEN cd.tiene_cuadrante = 1 THEN 'cuadrante'\n      WHEN hd.horas_horario_dia IS NOT NULL AND hd.horas_horario_dia > 0 THEN 'horario'\n      ELSE 'none'\n    END AS fuente,\n    /* flag-uri pentru sumar zile - exact ca în comanda anuală */\n    COALESCE(bj.es_baja,0)       AS es_baja,\n    COALESCE(au.es_vacaciones,0) AS es_vacaciones,\n    CASE \n      WHEN COALESCE(au.es_vacaciones,0)=0 THEN COALESCE(au.es_ausencia,0)\n      ELSE 0\n    END AS es_ausencia,\n    COALESCE(fd2.es_fiesta,0)    AS es_fiesta\n  FROM empleado_fechas ef\n  LEFT JOIN cuadrante_dia cd\n    ON cd.empleadoId = ef.empleadoId AND cd.fecha = ef.fecha\n  LEFT JOIN horario_dia hd\n    ON hd.empleadoId = ef.empleadoId AND hd.fecha = ef.fecha\n  LEFT JOIN bajas_dia bj\n    ON bj.empleadoId = ef.empleadoId AND bj.fecha = ef.fecha\n  LEFT JOIN fiestas_dia fd2\n    ON fd2.empleadoId = ef.empleadoId AND fd2.fecha = ef.fecha\n  LEFT JOIN aus_dia au\n    ON au.empleadoId = ef.empleadoId AND au.fecha = ef.fecha\n  LEFT JOIN empleado_flags tf\n    ON tf.empleadoId = ef.empleadoId\n),\n\n/* ============================================================\n   4) FICHAJES — doar din DURACION\n   ============================================================ */\nfichaje_base AS (\n  SELECT\n    CAST(f.CODIGO AS CHAR) AS empleadoId,\n    DATE(f.FECHA)          AS fecha,\n    f.DURACION             AS duracion\n  FROM Fichaje f\n  WHERE f.FECHA >= @d_first AND f.FECHA < DATE_ADD(@d_last, INTERVAL 1 DAY)\n),\nfichaje_has_events AS (\n  SELECT empleadoId, fecha, COUNT(*) AS cnt_events\n  FROM fichaje_base\n  GROUP BY empleadoId, fecha\n),\nfichaje_with_duration AS (\n  SELECT empleadoId, fecha, TIME_TO_SEC(duracion) AS dur_secs\n  FROM fichaje_base\n  WHERE duracion IS NOT NULL AND TRIM(duracion) <> '' AND duracion <> '00:00:00'\n),\nfichaje_dia AS (\n  SELECT\n    he.empleadoId,\n    he.fecha,\n    ROUND(COALESCE(SUM(fd.dur_secs),0)/3600,2) AS horas_fichadas,\n    CASE WHEN he.cnt_events > 0 AND COALESCE(SUM(fd.dur_secs),0) = 0 THEN 1 ELSE 0 END AS fichaje_incompleto\n  FROM fichaje_has_events he\n  LEFT JOIN fichaje_with_duration fd\n    ON fd.empleadoId = he.empleadoId AND fd.fecha = he.fecha\n  GROUP BY he.empleadoId, he.fecha, he.cnt_events\n),\nfichaje_mes AS (\n  SELECT empleadoId, ROUND(SUM(horas_fichadas),2) AS horas_fichadas_mes\n  FROM fichaje_dia\n  GROUP BY empleadoId\n),\n\n/* ============================================================\n   5) JSON COMBINAT pe angajat\n   ============================================================ */\ncombined_json AS (\n  SELECT\n    dp.empleadoId,\n    CONCAT(\n      '[',\n      GROUP_CONCAT(\n        CONCAT(\n          '{\"fecha\":\"', DATE_FORMAT(dp.fecha, '%Y-%m-%d'),\n          '\",\"plan\":', CAST(ROUND(dp.horas_plan,2) AS CHAR),\n          ',\"plan_fuente\":\"', dp.fuente, '\"',\n          ',\"fichado\":', CAST(ROUND(COALESCE(fd.horas_fichadas,0),2) AS CHAR),\n          ',\"delta\":',   CAST(ROUND(COALESCE(fd.horas_fichadas,0) - dp.horas_plan,2) AS CHAR),\n          ',\"incompleto\":', COALESCE(fd.fichaje_incompleto,0),\n          '}'\n        )\n        ORDER BY dp.fecha\n        SEPARATOR ','\n      ),\n      ']'\n    ) AS detalii_zilnice\n  FROM daily_plan dp\n  LEFT JOIN fichaje_dia fd\n    ON fd.empleadoId = dp.empleadoId AND fd.fecha = dp.fecha\n  GROUP BY dp.empleadoId\n),\n\n/* ============================================================\n   5.1) SUMAR ZILE (baja / vacaciones / ausencias / fiestas) – LUNAR\n   ============================================================ */\nsumar_flags_zile AS (\n  SELECT \n    empleadoId,\n    SUM(CASE WHEN es_baja=1       THEN 1 ELSE 0 END) AS dias_baja,\n    SUM(CASE WHEN es_vacaciones=1 THEN 1 ELSE 0 END) AS dias_vacaciones,\n    SUM(CASE WHEN es_ausencia=1   THEN 1 ELSE 0 END) AS dias_ausencia,\n    SUM(CASE WHEN es_fiesta=1     THEN 1 ELSE 0 END) AS dias_fiesta\n  FROM daily_plan\n  GROUP BY empleadoId\n)\n\n/* ============================================================\n   6) FINAL — aceleași coloane ca înainte + dias_*\n   ============================================================ */\nSELECT\n  de.CODIGO                               AS empleadoId,\n  de.`NOMBRE / APELLIDOS`                 AS empleadoNombre,\n  de.GRUPO                                AS grupo,\n  de.`CENTRO TRABAJO`                     AS centro_trabajo,\n  de.`TIPO DE CONTRATO`                   AS tipo_contrato,\n  ROUND(COALESCE(de.`HORAS DE CONTRATO`,0),2) AS horas_contrato,\n\n  COALESCE(cs.centro_cuadrante, de.`CENTRO TRABAJO`) AS centro_cuadrante,\n\n  CASE \n    WHEN cs.empleadoId IS NOT NULL THEN 'cuadrante'\n    WHEN hm.empleadoId IS NOT NULL AND hm.horas_horario_mes > 0 THEN 'horario'\n    ELSE 'sin cuadrante y sin horario'\n  END AS fuente,\n\n  CASE WHEN cs.empleadoId IS NOT NULL THEN cs.horas_cuadrante_mes END AS horas_cuadrante_mes,\n  CASE WHEN cs.empleadoId IS NULL AND hm.horas_horario_mes IS NOT NULL THEN hm.horas_horario_mes END AS horas_horario_mes,\n  COALESCE(cs.horas_cuadrante_mes, hm.horas_horario_mes, 0) AS horas_mes,\n\n  /* ore contract/lună: HORAS_CONTRATO × (DAY(@d_last)/7) */\n  ROUND(COALESCE(de.`HORAS DE CONTRATO`,0) * (DAY(@d_last)/7), 2) AS horas_contrato_mes,\n\n  /* total ore fichate (din DURACION) */\n  COALESCE(fm.horas_fichadas_mes, 0) AS horas_trabajadas_mes,\n\n  hp.`Horas Mensuales` AS horas_mensuales_permitidas,\n\n  ROUND( COALESCE(cs.horas_cuadrante_mes, hm.horas_horario_mes, 0)\n        - ROUND(COALESCE(de.`HORAS DE CONTRATO`,0) * (DAY(@d_last)/7), 2), 2) AS dif_vs_contrato,\n\n  ROUND( COALESCE(cs.horas_cuadrante_mes, hm.horas_horario_mes, 0)\n        - COALESCE(hp.`Horas Mensuales`, 0), 2) AS dif_vs_permitidas,\n\n  /* NOU: număr zile pe tip – ca în comanda anuală */\n  COALESCE(sfz.dias_baja,0)       AS dias_baja,\n  COALESCE(sfz.dias_vacaciones,0) AS dias_vacaciones,\n  COALESCE(sfz.dias_ausencia,0)   AS dias_ausencia,\n  COALESCE(sfz.dias_fiesta,0)     AS dias_fiesta,\n\n  COALESCE(cj.detalii_zilnice, '[]') AS detalii_zilnice\n\nFROM DatosEmpleados de\nLEFT JOIN cuadrante_sum cs   ON cs.empleadoId = CAST(de.CODIGO AS CHAR)\nLEFT JOIN horario_mes   hm   ON hm.empleadoId = CAST(de.CODIGO AS CHAR)\nLEFT JOIN horaspermitidas hp ON hp.GRUPO      = de.GRUPO\nLEFT JOIN fichaje_mes fm     ON fm.empleadoId = CAST(de.CODIGO AS CHAR)\nLEFT JOIN combined_json  cj  ON cj.empleadoId = CAST(de.CODIGO AS CHAR)\nLEFT JOIN sumar_flags_zile sfz ON sfz.empleadoId = CAST(de.CODIGO AS CHAR)\nWHERE de.ESTADO = 'ACTIVO'\nORDER BY de.CODIGO;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        336,
        -192
      ],
      "id": "afcca9e3-5a8f-486c-af79-6b358c5e6761",
      "name": "luna",
      "credentials": {
        "mySql": {
          "id": "47tEcFVMWEV6ljvQ",
          "name": "MySQL account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "luna",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "query an",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "query an": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "luna": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "rL4oA24ur052e543"
  },
  "versionId": "4b0212b3-9622-421f-886d-214f25da30ed",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "32836068b16891b53f6153f2e819808ea28fcbd1c151a3d5c9248593b7aebef9"
  },
  "id": "tk3qeHHVi4Gy0kdA",
  "tags": []
}