backend/n8n-snapshots/deletedocumentosoficialeempleado.json
{
  "name": "deletedocumentosoficialeempleado",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "240973b3-a0a2-45da-a436-b142436749d9",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "0a76e1fd-6a90-4837-a16a-c1ed303e9674",
      "name": "Webhook",
      "webhookId": "240973b3-a0a2-45da-a436-b142436749d9"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM DocumentosOficiales\nWHERE id = CAST('{{ $json.body.id ?? 0 }}' AS UNSIGNED)\n  AND TRIM(nombre_archivo) = TRIM('{{ String($json.body.nombre_archivo ?? $json.body.filename ?? $json.body.fileName ?? \"\").replace(/\\\\/g,\"\\\\\\\\\").replace(/'/g,\"\\\\'\") }}')\nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        208,
        0
      ],
      "id": "b52c2bea-7269-4cba-a940-c8167e693f8e",
      "name": "Execute a SQL query",
      "credentials": {
        "mySql": {
          "id": "47tEcFVMWEV6ljvQ",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"ok\": true,\n  \"mensaje\": \"Archivo eliminado correctamente.\",\n  \"id\": \"={{ $node['Webhook'].json.body.facturald || $node['Webhook'].json.body.facturaId || $node['Webhook'].json.body.id }}\",\n  \"numero_operacion\": \"={{ $node['Webhook'].json.body.numeroOperatiune || $node['Webhook'].json.body.numar_operatiune || $node['Webhook'].json.body.numeroOperacion }}\",\n  \"archivo\": \"={{ $node['Webhook'].json.body.filename }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        416,
        0
      ],
      "id": "599a313e-ab9a-4755-b627-46436fcad5ff",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "37ee7844-0348-40da-a909-0eba86d33bfa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "32836068b16891b53f6153f2e819808ea28fcbd1c151a3d5c9248593b7aebef9"
  },
  "id": "OkVSuTYI9dAPBESL",
  "tags": []
}