backend/n8n-snapshots/listeaza cuadrante.json
{
  "name": "listeaza cuadrante",
  "nodes": [
    {
      "parameters": {
        "path": "get-cuadrantes-yyBov0qVQZEhy2s",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        320,
        0
      ],
      "id": "11a76192-e5c8-4d54-a35f-6da99b1b3406",
      "webhookId": "b7d77bca-b0e0-4768-ab7e-200ced3606f2"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        720,
        0
      ],
      "id": "38afed9d-6a46-49a9-bb99-754ea24b2e5e",
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM cuadrante\nWHERE \n  ( '{{$json[\"query\"][\"centro\"] || \"\"}}' = \"\" OR CENTRO = '{{$json[\"query\"][\"centro\"]}}' )\n  AND ( '{{$json[\"query\"][\"empleado\"] || \"\"}}' = \"\" OR CODIGO = '{{$json[\"query\"][\"empleado\"]}}' )\n  AND ( '{{$json[\"query\"][\"nombre\"] || \"\"}}' = \"\" OR NOMBRE = '{{$json[\"query\"][\"nombre\"]}}' );",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        528,
        0
      ],
      "id": "9f9da62d-db3e-4a57-a399-fc9478a60fab",
      "name": "Execute a SQL query",
      "credentials": {
        "mySql": {
          "id": "47tEcFVMWEV6ljvQ",
          "name": "MySQL account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "45aebf77-8ceb-462e-bd78-27875ffbfe84",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "32836068b16891b53f6153f2e819808ea28fcbd1c151a3d5c9248593b7aebef9"
  },
  "id": "PZcIaz8rzTj448lL",
  "tags": []
}